[2016-12-12 16:03] jodh-intel commented on #527
All the `.bats` tests should be calling `cleanup_common()` (in `tests/functional/common.bash.in`) in their `teardown()` to get more complete failure details. `cleanup_common()` isn't "docker-aware", but crucially checks `$BATS_ERROR_STATUS` and dumps out the value of `$output` (via the standard bats `lines` array) plus shows the debug logs.

[2016-12-12 17:34] devimc commented on #527
seems like the problem is that functional tests are running before docker tests
probably shim is breaking the tty

[2016-12-12 17:38] chavafg commented on #527
I inverted the order of the tests, first running docker and then standalone functional tests and now everything is working, so yes, maybe the functional tests are breaking the terminal.

[2016-12-12 17:40] jcvenegas commented on #527
@devimc @chavafg so lets close #529

[2016-12-12 17:41] jodh-intel commented on #527
It would be good to understand exactly how it's breaking the tty, but meantime we could run the tests using `script --return -c 'make functional-tests' && script --return -c 'make docker-tests'` or similar so they both get a new tty (pty) device to work with.

[2016-12-12 17:46] devimc commented on #508
@dlespiau  @jcvenegas  #507 was merged
can we close this bug?

[2016-12-12 17:50] jcvenegas commented on #527
@jodh-intel  agree to know why, @chavafg  shall we change the issue tittle to something like "docker tests fail randomly on redesign-for-cc-2.1 after run functional-test"

[2016-12-12 17:51] dlespiau commented on #508
Nop, just reproduced it after under 2 mins of:

[code]

[2016-12-12 19:32] chavafg commented on #527
@jcvenegas yeap, changing the bug tittle.

[2016-12-12 20:33] chavafg commented on #133
added test on #523

[2016-12-12 20:34] chavafg commented on #140
added test on #523

[2016-12-13 16:21] chavafg commented on #475
I think this issue is already resolved, right? With #431

[2016-12-13 16:56] dlespiau commented on #475
Yes, closing.

[2016-12-13 16:56] #475 closed

[2016-12-13 17:31] sameo opened #530 "Create 2.1 OBS packages"
It would be nice to generate OBS packages for both the clear-containers-2.0 and the master branches.

[2016-12-13 17:36] dlespiau commented on #530
I think we should create another OBS project for 2.1 called clear-containers-2.1, like we have clear-containers-2.0 today.

That clear-containers-2.1 project will have packages from the 2.1 branch (master until we have, eventually, a 2.1 branch). That was we can maintain a set  of package for each major architecture version.

  - http://download.opensuse.org/repositories/home:/clearlinux:/preview:

[2016-12-13 18:26] dlespiau commented on #18
Alright, time to close that one. Bugs found for exec should be opened as new issues (we've started already).

[2016-12-13 18:26] #18 closed

[2016-12-13 18:43] dlespiau commented on #299
2.1 is now merged into master. Closing.

[2016-12-13 18:43] #299 closed

[2016-12-13 18:43] dlespiau commented on #300
2.1 is now merged into master. Closing.

[2016-12-13 18:43] dlespiau commented on #301
2.1 is now merged into master. Closing.

[2016-12-13 18:43] dlespiau commented on #303
2.1 is now merged into master. Closing.

[2016-12-13 18:44] dlespiau commented on #298
2.1 is now merged into master. Closing.

[2016-12-13 18:44] dlespiau commented on #271
2.1 is now merged into master. Closing.

[2016-12-13 18:44] #303 closed

[2016-12-13 18:44] #301 closed

[2016-12-13 18:44] #300 closed

[2016-12-13 18:45] #298 closed

[2016-12-13 20:40] chavafg commented on #54
Actually, the tests are passing, there is an issue with running functional stand-alone tests first (Issue #527) and then running this test.

[2016-12-13 20:42] chavafg commented on #94
@mcastelino, @GabyCT added some tests on #524 to verify multiple interfaces, should we close this one? or do you think we are missing something?

[2016-12-13 20:44] mcastelino commented on #94
@chavafg #524 covers all the tests we need. It covers both multiple interfaces. And multiple IPs per interface

[2016-12-13 20:44] #94 closed

[2016-12-13 20:48] chavafg commented on #220
@mcastelino , Can we also close this one, I think it is related to #94
Thanks

[2016-12-13 21:04] mcastelino commented on #220
@chavafg yes. This too can be closed.

[2016-12-13 21:06] chavafg commented on #220
Thanks, closing this issue

[2016-12-13 21:06] #220 closed

[2016-12-14 09:42] jodh-intel opened #532 "Update wiki now 2.1 is in master"
Review/refresh the wiki pages, in particular the installation instructions and:

- https://github.com/01org/cc-oci-runtime/wiki/Installation
- https://github.com/01org/cc-oci-runtime/wiki/Limitations

[2016-12-14 10:48] jodh-intel opened #533 "Coverity is not being triggered by Travis"
[1] shows last scan was performed on 2016-11-22 (see [2]). Latest `coverity_scan` Travis build doesn't seem to have uploaded the scan results to Coverity (see [3]).

---

[1] - https://scan.coverity.com/projects/01org-cc-oci-runtime?tab=overview
[2] - https://api.travis-ci.org/jobs/178021529/log.txt?deansi=true
[3] - https://api.travis-ci.org/jobs/183843004/log.txt?deansi=true

[2016-12-14 11:49] dlespiau opened #535 ""docker exec $container ps" doesn't work without -it"
I start a container with:

[code]

Then, this works just fine:

[code]

But the following doesn't:

[code]

[2016-12-14 11:55] #271 closed

[2016-12-15 22:16] mcastelino opened #536 "--privileged flag and clear containers"
We need to document the behavior differences between a runc  --privileged container and a clear container. We may need to change how we launch the workload in the container to provide at least some of the characteristics of a  --privileged container.

[2016-12-16 01:34] sboeuf commented on #400
@jodh-intel Have you been able to check if you still have the issue you were seeing, now that 2.1 is merged into master ?

[2016-12-16 02:09] sboeuf commented on #535
@dlespiau , @jcvenegas have you been able to reproduce it ? It is working fine on my laptop... No need to add -it, I get the result of the ps without any error.

[2016-12-16 10:34] jodh-intel commented on #400
Yep - confirmed as fixed.

[2016-12-16 10:34] #400 closed

[2016-12-19 17:16] jcvenegas commented on #535
@dlespiau  @sboeuf , same here I have tried this case but seems that works well.

But tryting to see if was a radom bug I did
[code]
and after a while and exec workload  hang as the container

[2016-12-19 17:19] sboeuf commented on #535
@jcvenegas if it hangs after a while, this means this could be something fixed by @sameo PR #538. But you confirm that it does work for you.
I mean if you look at @dlespiau issue description, it is clear that he could not even make this work once.

[2016-12-19 17:22] jcvenegas commented on #535
@sboeuf yes it is working, I was not able to reproduce @dlespiau  issue

[2016-12-19 17:31] sboeuf commented on #535
Let's close this one then :)

[2016-12-19 17:42] jcvenegas commented on #535
sure, lets re-open it if someone else see this behavior.

[2016-12-20 00:47] gorozco1 opened #539 "ci: Implement a re-test with a word on a commit message over a PR"
Currently there is no way to lauch a test or re-test over a PR, would be good to have a "key" to trigger a re-test with a commit message.

[2016-12-20 00:51] gorozco1 commented on #530
repos for testing for cc-oci-runtime 2.1 is ready

http://download.opensuse.org/repositories/home:/patux:/clear-containers-2.1/Fedora_24/
http://download.opensuse.org/repositories/home:/patux:/clear-containers-2.1/xUbuntu_16.04/

[2016-12-20 09:04] jodh-intel commented on #539
+1. Maybe a special comment like `request-qa-retest`.

Considerations:

- ignore if a test is already in progress for the PR.
- only honour request:
  - if PR is `open`.
  - if PR has _already_ been tested and failed.
  - if commenter is a member of the `01org` team [*].

---

[*] - in fact, we could confine this to Gatekeepers only?

[2016-12-20 10:08] grahamwhaley commented on #152
For the record. After chasing this down for https://github.com/coreos/rkt/pull/3475, there was a patch set in test that would fix this:
https://sourceforge.net/p/v9fs/mailman/v9fs-developer/thread/146659832556.15781.17414806975641516683.stgit%40bahia.lan/#msg35175775

but a race condition still exists, and those patches are still in flight and not upstreamed yet.
If this issue does rise in importa

[2016-12-20 11:24] grahamwhaley commented on #222
So, @GabyCT - we can close this one now? I think so...

[2016-12-20 11:26] grahamwhaley commented on #152
As this is well understood, and I believe we should be able to use a `ramfs /tmp` as a workaround, can we drop the priority of this down from a P1 do we think @jodh-intel @dlespiau

[2016-12-20 11:37] jodh-intel commented on #152
@grahamwhaley - I concur.

The problem is that the `/tmp` workaround is only going to work for `/tmp`: iperf3 seems well-behaved in using a temporary directory, but if any other apps try to use `ftruncate(2)` on, say, `/`, they will see the problem.

As such, we'll have to document this limitation carefully. In fact, I almost wonder if we should generate some sort of warning message if these probl

[2016-12-20 11:39] jodh-intel commented on #152
For completeness, here's some sample `strace` output from a successful run of the program attached in comment https://github.com/01org/cc-oci-runtime/issues/152#issuecomment-241728833:

[code]

[2016-12-20 15:36] jodh-intel commented on #405
It's difficult to say, but it appears the hang/freeze happens "around the time" that `tests/integration/docker/network.bats` runs. The problem is that the hang/freeze isn't instant - it seems to happen a few seconds after one of the test operations runs.

[2016-12-20 16:06] jcvenegas commented on #535
reopen the issue was seen in #538

[2016-12-20 16:33] GabyCT commented on #426
closing this issue as all the tests merged

[2016-12-20 16:56] #426 closed

[2016-12-20 20:20] #508 closed

[2016-12-20 20:25] devimc commented on #535
seems like this issue was fixed in #538

[2016-12-20 21:05] devimc commented on #527
@chavafg  re-test it please
I can't reproduce it

[2016-12-20 21:35] GabyCT commented on #527
@devimc I will re-test this pr

[2016-12-20 22:57] #527 closed

[2016-12-21 16:07] devimc commented on #54
seems like this bus was fixed
@chavafg  @GabyCT  can I close it ?

[2016-12-21 16:19] GabyCT commented on #54
@devimc it has been fixed, you can close it

[2016-12-21 18:06] devimc opened #542 "cc-proxy socket leaks"
probably the way to start containers is not correct but fd leaks were found running next scripts
[code]

[code]

probably this issue is caused by goroutine leaks, each time that I run last script a new TID is added
[code]

[2016-12-21 19:09] dlespiau commented on #54
@GabyCT Don't hesitate to close the issue yourself if you confirm/think it can be closed.

[2016-12-21 19:09] #54 closed

[2016-12-21 22:08] GabyCT opened #543 "Exec (2.1) is not working on Ubuntu 16.04 with docker 1.12.5"
Running the exec tests in Ubuntu 16.04 with docker 1.12.5 show failures
bats exec.bats
 ✗ modifying a container with exec
   (in test file exec.bats, line 38)
     `docker exec -d containertest bash -c "echo 'hello world' > file"' failed
   68949065a422e059f87ef01738f9590f74d60333fb39d4558aa923ae96070a1b
   68949065a422        ubuntu              "bash -c 'sleep 50'"   1 second ago        Up Less

[2016-12-21 22:14] GabyCT opened #544 "Exec (2.1) is not working with docker 1.13 in Fedora 24"
Exec tests are failing
bats exec.bats
 ✗ modifying a container with exec
   (in test file exec.bats, line 38)
     `docker exec -d containertest bash -c "echo 'hello world' > file"' failed
   68949065a422e059f87ef01738f9590f74d60333fb39d4558aa923ae96070a1b
   68949065a422        ubuntu              "bash -c 'sleep 50'"   1 second ago        Up Less than a second                       containertest

[2016-12-21 23:17] sameo commented on #542
@devimc Can you verify that all docker containers are removed after your test ? If there are still some that could not be killed/removed, they will keep a bunch of fds open and many cc-shim will be running as well.

[2016-12-21 23:56] jcvenegas commented on #544
this is probably related with #543

[2016-12-22 14:59] devimc commented on #542
@sameo  using the first script I saw some containers still running
using the second one no containers are running but a new TID is added

[2016-12-22 19:40] amshinde commented on #140
Closing this as this has been tested and verified by #523.

[2016-12-22 19:40] #140 closed

[2016-12-22 19:55] devimc commented on #171
Fixed CC-2.1

[2016-12-22 19:55] #171 closed

[2016-12-22 21:52] jcvenegas commented on #543
This should be fixed by #545

[2016-12-22 21:53] jcvenegas commented on #543
@GabyCT could you confirm is working properly now?

[2016-12-22 22:03] amshinde commented on #95
Closing this as docker swarm integration tests have been merged with #524

[2016-12-22 22:03] #95 closed

[2016-12-22 22:11] amshinde commented on #325
@grahamwhaley Do you have any input on this one? Seems to be a 9p issue though I haven't investigated this further since the comments I added last time.
I also think that this needs to be added to the 2.1 milestone, as this is a fairly common use case for a docker user.

[2016-12-22 22:20] GabyCT commented on #543
This is working now with the fix of #545
# bats exec.bats
✓ modifying a container with exec
 ✓ exec a container with privileges
 ✓ stdout forwarded using exec
 ✓ check exit code using exec

# docker run --name containertest -d ubuntu bash -c "sleep 50"
f00e7f0554ba46410c9cc88a9c4bd566d29e1d585219037a99c3557efe09156c
# docker exec -d containertest bash -c "echo 'hello world' > file"
# docker exec c

[2016-12-22 22:20] #543 closed

[2016-12-22 22:57] jcvenegas commented on #544
This should be fixed by #545, @chuyd  could you please that exec is working now ?

[2016-12-22 23:07] gorozco1 commented on #544
well, the doc of clear-containers 2.0 says we should lock to use docker-engine-1.12.1-0.2.rc2.fc24.x86_64 in fedora... this might probabbly changed and we need to update wiki with the latest compatible docker.

[2016-12-22 23:08] GabyCT opened #548 "Remove a container not working with docker 1.13.0"
There are some issues in removing a container using docker 13.0. Tests were conducted using Fedora 24  for CC 2.1 on a baremetal.

When you are doing a docker rm -f $(docker ps -qa), we are obtaining:

- check that replicas has two interfaces
   (from function `clean_docker_ps' in file ../../lib//test-common.bash, line 29,
    from function `setup' in test file swarm.bats, line 43)
     `clean_doc

[2016-12-22 23:09] GabyCT commented on #544
@jcvenegas the main reason of why it is not working is related with #548

[2016-12-22 23:09] #544 closed

[2016-12-22 23:10] gorozco1 commented on #544
@GabyCT does it work ok with docker-engine-1.12.1-0.2.rc2.fc24.x86_64 ?

[2016-12-22 23:10] gorozco1 commented on #548
uhmm did it work with docker-engine-1.12.1-0.2.rc2.fc24.x86_64 ?

[2016-12-22 23:11] GabyCT commented on #544
@gorozco1 yes it worked with 1.12.1

[2016-12-22 23:13] gorozco1 commented on #544
@GabyCT thanks for the update.

We need to make sure cc2.1 is compatible with newer dockers

[2016-12-22 23:17] GabyCT commented on #548
@gorozco1 yes it work with docker 1.12.1
bats swarm.bats
 ✓ check that the replicas' names are different
 ✓ check that replicas has two interfaces
 ✓ check service ip among the replicas
 ✓ ping among replicas on their gateway ip
 ✓ quick ping among replicas on their overlay ip
but not with newer docker versions

[2016-12-23 09:26] grahamwhaley commented on #325
Hi @amshinde - good catch, I'd completely forgotten we'd seen this some time ago. Nothing immediately springs to mind - I don't think it is related to the other 9p/unlink type errors, so we are going to have to dig into this a bit more. For a start we should probably understand exactly what `docker cp` does - how/what the transport is etc.

[2016-12-23 20:20] jcvenegas opened #549 "[cc2.0] No network interface with docker 1.12.5+"
Using cc-oci-runtime 2.0 and docker 1.12.5+ the container does not have network

[code]
wont show a network interface for external connection

[2016-12-23 20:21] jcvenegas opened #550 "update documentation with last know working version for docker (1.12.4)"

[2016-12-27 21:31] #535 closed

[2016-12-27 21:35] jcvenegas commented on #358
This is fixed in version packaged by @gorozco1

[2016-12-27 21:35] #358 closed

[2016-12-27 21:38] jcvenegas commented on #222
2.1 is merged in master

[2016-12-27 21:38] #222 closed

[2016-12-28 20:12] jcvenegas opened #552 "[2.1] Docker swarm hangs docker 1.12.4"
Running docker swarm integration test, breaks the docker daemon.
Need to check if is a docker bug fixed in 1.12.5 or is an issue related with CC.21 + docker swarm

[2016-12-28 20:14] jcvenegas commented on #552
@chavafg  will lock the CI to use docker 1.12.1 with CC 2.1, this issue is not affected by CC2.0 because does not support docker swarm

[2016-12-28 22:48] jcvenegas commented on #552
I can confirm that the same issue happen with runc, in clear linux and docker 1.12.4

[2016-12-28 22:59] pdxjohnny opened #553 "ENV variables not persevered across build layers."
When building a Dockerfile which uses the ENV command it will not persevere those environment variables across build layers.

For example if you were to build this Dockerfile with runc as your default runtime it would update fine. But if cor is default it hangs because the proxy variable was not preserved.
[code]

docker info (changed default to runc before running info)
[code]

[2017-01-04 20:50] GabyCT commented on #552
@jcvenegas swarm tests were run in other distros using docker 1.12.5 and runc and they are not failing

[2017-01-04 23:18] amshinde commented on #493
Tested this behaviour.
[code]

Turns out that Ctrl-C on an execed instance doesnt really send a signal to the execed process (in our case the shim spawned in the exec), and hence the shim  would never cause a killcontainer command to be delivered to hyperstart in this case.
Instead I see  the execed process (top -b) in the VM  continues to execute as seen by the proxy logs.

I have seen similar be

[2017-01-05 16:39] chavafg commented on #133
closing this issue as tests are already merged.

[2017-01-05 16:39] #133 closed

[2017-01-05 17:00] GabyCT commented on #17
This issue was already fixed and it is working properly
# docker run busybox echo "containers"
containers
# docker logs $(docker ps -qa | head -1)
containers

We already have tests for run non-interactively and logs.

[2017-01-05 17:00] #17 closed

[2017-01-05 17:39] GabyCT commented on #321
Closing this issue as it is not present in cc 2.1

[2017-01-05 17:39] #321 closed

[2017-01-05 22:07] #506 closed

[2017-01-05 22:28] amshinde commented on #522
PR #538 should have fixed this. @aduenasd are you still seeing this?

[2017-01-05 22:32] #493 closed

[2017-01-05 22:43] amshinde commented on #532
Updated Limitations page  to remove exec from the list.

[2017-01-06 14:58] dlespiau commented on #386
Ok, it still seems to me the integration tests we already have cover shim+proxy+runtime. So closing this issue. We may want to open more specific ones (with actually tests we'd need to add).

[2017-01-06 14:58] #386 closed

[2017-01-06 14:59] dlespiau commented on #416
@dborquez What's the status of this and the deliverables? does this issue belong to github?

[2017-01-06 15:45] dlespiau commented on #542
The problem here is that the Bye payload is never sent to the proxy, the qemu process goes away, but the proxy still keeps the internal vm structures/goroutines/sockets until the Bye.

We do have a way to detect if the VM process is gone. We should be able to cleanup the internal VM state disregarding if we ever receive a Bye or not. Actually maybe the Bye payload itself isn't totally necessary if

[2017-01-06 16:21] chavafg commented on #552
I had a similar issue with ubuntu 16.04.1 LTS and docker 1.12.5.
Swarm tests are hanging the docker daemon. It happens the same with runc and cc-oci-runtime.

This is the log from docker service:
[code]

[2017-01-09 11:36] sameo opened #559 "Formalize shim <-> runtime initial protocol"
When exchanging the shim arguments before `execve`'ing the shim binary, we use a generic args pipe where we push the proxy IO fd and base sequence number in a predefined, undocumented order. We also have a separate pipe for pushing potential errors.

We may want to have a slightly more structured protocol here that would allow us to not depend on any specific order and get rid of the error pipe:

[2017-01-09 15:04] dlespiau commented on #345
This has been done for a long time, but the bug hasn't been closed!

[2017-01-09 15:04] #345 closed

[2017-01-09 16:04] dlespiau commented on #522
I've played a bit with the runtime and haven't been able to reproduce this problem as easily as I could before. Closing then. Do reopen if able to reproduce this exact issue ("start" fails leaving cc-shim behind).

[2017-01-09 16:04] #522 closed

[2017-01-09 18:05] dlespiau opened #564 "Investigate the order of the allocateIO result and the file descriptor"
I never intended to send first the fd, then the allocate I/O response.

AllocateIO could fail and so we need the response first to check the status, and then we read fd in case the call has been successful.

Not sure how it ended up the opposite, I think it's because I did a few tries before settling on prepending a header with the packet size in the proxy protocol.

[2017-01-09 19:02] aduenasd commented on #522
I just tested this and I'm not seeing the issue anymore. Agreed on closing this issue, thanks.

[2017-01-10 01:24] amshinde opened #566 "Input from pipe is not sent correctly for Docker 1.12.4"
This is related to bug #506 . This issue was fixed and tested with Docker 1.12.1. However on testing with 1.12.4, the input from the pipe is lost.
[code]

With Docker 1.12.4, the output is sent to the container before "start" is called. Hence hyperstart cannot find an exec with the sequence number and the input is lost.

Runtime logs for 1.12.4:
[code]

Proxy logs with Docker 1.12.4:
[code]

As se

[2017-01-10 16:02] jcvenegas commented on #552
I can see a similar trace from dockerd after ```docker swarm leave --force``` is executed

[2017-01-10 19:13] amshinde commented on #566
Did some more tests,  in Docker 1.12.1 input is always sent to the container after the post-start hooks have finished, ensuring that the input is correctly processed by the container.
With Docker 1.12.4, the input is sent after create has finished, before start has even being called for the runtime.

I think the behaviour in 1.12.1 is correct behaviour, and we should really be opening an issue for

[2017-01-10 19:17] grahamwhaley commented on #566
Do you know which Docker commit made the change? If so, maybe it is tied to a PR that might explain the logic/decision, if we are lucky ;-)

[2017-01-10 22:25] chavafg commented on #428
Opened #567 to address this issue.

[2017-01-11 08:50] sameo commented on #566
@amshinde I would also try to understand how runc supports that, because afaict `runc create` does not create the process itself. In theory they should have the same issue as us but they obviously don't.

[2017-01-11 08:59] sameo commented on #566
It does not make sense to send the input before the container process is even started, i.e. before the container status is `RUNNING`. I would add some traces to e.g. the proxy code showing that we do receive the input code before cc-oci-runtime tries to connect to the proxy.

[2017-01-11 09:03] sameo commented on #566
Also, what does the `ret = (int)write(shim->proxy_io_fd, buf, (size_t)len);` from `shim.c:handle_stdin()` set errno to ? We could handle that use case more gracefully from there, if we get a meaningful error back from this write (EAGAIN ?).

[2017-01-11 17:40] gorozco1 opened #569 "Packages for Ubuntu 16.10 are not available"
Currently there is a bug buildling the linux-container kernel, same building qemu-lite and cc-oci-runtime.

This affects both 2.0 and 2.1 builds

[2017-01-11 18:49] grahamwhaley commented on #569
If you get a chance, some details of which packages and what the build errors look like might be nice to record.

[2017-01-11 20:39] dlespiau commented on #428
Merged! you can use the Fixes: tag in commit message to automatically close the corresponding issue

[code]

https://help.github.com/articles/closing-issues-via-commit-messages/

[2017-01-11 20:39] #428 closed

[2017-01-11 21:39] GabyCT commented on #548
This behavior is currently showed in docker 1.13

[2017-01-11 21:42] dborquez opened #570 "cor is not unmounting resolv.conf"
Issue:
Error response from daemon: Driver overlay failed to remove root filesystem 26cacee3c09dbb544f6e68e3a8b8a920f3c38d40f9212729d1ae11f0e891234b: remove /var/lib/docker/overlay/8f88ad74ae237503a491fce20d7770f44581645ef7e65b040314eb22fd57f6f4/merged/etc/resolv.conf: device or resource busy

Steps to reproduce the issue:
1. docker run -ti clearlinux
2. exit
3. docker rm -f $(docker ps -qa)

If th

[2017-01-11 21:45] amshinde commented on #566
@grahamwhaley @sameo So the PR responsible for this behaviour is this: https://github.com/docker/docker/pull/26744.
I tested with docker before and after applying the above commit to confirm this.

[2017-01-11 21:58] dborquez commented on #570
**cc-oci-runtime.log contents:**

2017-01-11T15:48:19.475962Z:2376:cc-oci-runtime:debug:called as: /usr/bin/cc-oci-runtime delete 226958947a9f4a4abdfbf881a8c756795014dcada1f91458652b2202daefd52e
2017-01-11T15:48:19.476778Z:2376:cc-oci-runtime:debug:connecting to proxy cc-proxy
2017-01-11T15:48:19.476992Z:2376:cc-oci-runtime:debug:connected to proxy socket /var/run/cc-oci-runtime/proxy.sock
2017-01

[2017-01-12 08:46] jodh-intel commented on #570
This looks like a bug in `cc_oci_stop()`: rather than simply returning `false`, the code should store the error return value then jump to an `out` label so that `cc_oci_cleanup()` gets called in all cases to handle the unmounting, before returning the correct error value.

[2017-01-12 12:38] dlespiau opened #571 "--console $(tty) doesn't work -— runc dropped the option altogether for --console-socket"
From Archana in PR https://github.com/01org/cc-oci-runtime/pull/513

[code]

runc actually removed the --console option in their console rewrite: https://github.com/opencontainers/runc/commit/244c9fc426aeb1993e0ba871b5ee181b190338b6#diff-2d3dd7d378b1b441344cf5027a5e8aa7L33

[2017-01-12 12:46] dlespiau commented on #571
2 little notes:

  - We want to keep the --console option as long as docker needs it, of course.
  - runc used to have a --console /dev/pts/ptmx in their standalone tests to support what we want, I think: https://github.com/opencontainers/runc/commit/972c176ae45b2451dbd7c81cdbe3a81023c55e1c#diff-ca657af2fedf0135188c8e3924a17c00L15

[2017-01-12 14:30] dlespiau commented on #138
Closing this version of the bug in favour of #324

[2017-01-12 14:30] #138 closed

[2017-01-12 15:35] dlespiau commented on #337
@chavafg do we now have all of them?

[2017-01-12 15:39] devimc commented on #570
@dborquez  what version of docker,cc-oci-runtime and containerd are you using?

[2017-01-12 16:12] dborquez commented on #570
Docker version 1.12.5, build 7392c3b0ce0f9d3e918a321c66668c5d1ef4f689

cc-oci-runtime
version: 2.1.0-rc.3
spec version: 1.0.0-rc1
commit: da827b863314a9638f09568e6a47f5a83bc524cd

containerd version 0.2.4

[2017-01-12 17:08] dborquez commented on #570
After updating docker to version 1.12.6, build 7392c3b0ce0f9d3e918a321c66668c5d1ef4f689 the problem appears to be gone, for instance close this issue.

[2017-01-12 17:08] #570 closed

[2017-01-12 17:13] grahamwhaley commented on #570
@dborquez , phrases like 'appears to be gone' always make me nervous ... I always think they will come back at the most inconvenient time in the future... it would be good if we could figure out if it was actually fixed, but I understand that could be tricky for you (reading logs, or a round of bisect/builds doesn't sound pleasant for docker releases to me)

[2017-01-12 18:42] dlespiau opened #574 "Add version to the proxy protocol"
If we're going to evolve the proxy protocol, it'd be nice to provide the version of the API the proxy implements, as part of the answer of a hello payload for instance.

Something we should have before 2.1.

[2017-01-12 20:26] gorozco1 commented on #569
This the error that linux-kernel build trows:

https://hastebin.com/isilejafon.sql

The error building qemu-lite is:

Nothing provides libpng12-0, nothing provides libpng12-dev

The error building cc-oci-runtime:
Missing dependencies: qemu-lite, linux-container-kernel

Checking on fixing the qemu-lite with dependencies change... The problem with the kernel still ongoing...

[2017-01-12 20:37] GabyCT opened #575 "Test: Test OBS packages ( CC 2.1 in Fedora 25)"
Test the obs packages

[2017-01-12 20:45] amshinde commented on #569
@gorozco1 Ubuntu16.10 does not have libpng12-0 and libpng12-dev :
http://packages.ubuntu.com/search?keywords=libpng&searchon=names&suite=yakkety&section=all

How about you change the above dependencies to just "libpng-dev" in the qemu-lite.dsc and debian.control files for the qemu-lite package. I think that should fix it.

[2017-01-12 20:47] gorozco1 commented on #569
@amshinde thanks for the suggestion, I'll do that and check if that does not break the other builds.

[2017-01-12 20:52] amshinde commented on #569
Also for the kernel build, try applying this patch for Ubuntu distros:
http://kernel.ubuntu.com/~kernel-ppa/mainline/v4.8-rc2/0002-UBUNTU-SAUCE-no-up-disable-pie-when-gcc-has-it-enabl.patch

[2017-01-12 21:59] gorozco1 commented on #569
wow! thanks for the quick help and update on this I will try :)

[2017-01-12 22:16] GabyCT commented on #575
Integration docker tests were run...the only issue was with swarm and #566

[2017-01-12 22:16] #575 closed

[2017-01-13 09:13] grahamwhaley commented on #569
Nice work @gorozco1 and @amshinde :-)
Just to note @gorozco1 , I would be wary of using paste sites such as hastebin.com etc. here, as their pastes are not permanent (expiring after anywhere between 1 and 30 days typically), so we will lose the details here in this ticket...

[2017-01-13 09:24] jodh-intel commented on #569
I'm a little confused here - we shouldn't need png libs to build `qemu-lite` as we explicitly disable the gui in `debian.rules`.

[2017-01-13 09:50] grahamwhaley commented on #569
I've a feeling the need for png libs is something currently inherently tied into QEMU, and there is no way to trivially/easily disable it in the build/config right now. I think we've discussed this with @anthonyzxu a couple of times before. Of course, we'd love to not have png requirements in QEMU, but we have also agreed that at the moment the space taken by the un-used png libs is shared across

[2017-01-13 10:08] jodh-intel commented on #569
I think that was `libpixman` which shouldn't be required, but seems entangled in the qemu build; `libpng` isn't required for `qemu-lite` on clr for example.

[2017-01-13 10:09] grahamwhaley commented on #569
Ah, thanks @jodh-intel - mea culpa!

[2017-01-13 15:44] devimc commented on #325
command
[code]

This is the workflow of cp command
[code]

docker send this request to dockerd
[code]

response of dockerd
[code]

dockerd logs
[code]
testfile is copied but /etc/resolv.conf and other files are unmounted

[2017-01-13 17:01] amshinde commented on #569
@jodh-intel You are right,  png was disabled in the configure options, but the build requirement wasnt changed.
@gorozco1 Can we take get rid of the png libraries ?

[2017-01-13 18:47] gorozco1 commented on #569
@grahamwhaley note taken the log for the kernel-build are here now for reference:
https://gist.github.com/gorozco1/937f9b1302cd64e25bc87cad09e99375

At the same time I tried to build qemu-lite the changes @amshinde suggested to only point to libpng-dev instead of libpng12

Error log here: (complains about no libpng12-0and libpng12-dev)
https://gist.github.com/gorozco1/3459cbd5b80fbc14940382c7d8e3b

[2017-01-13 19:47] gorozco1 commented on #569
@jodh-intel @amshinde @grahamwhaley qemu-lite built without libpng in f24,25, u1604,u1610

[2017-01-14 02:47] gorozco1 commented on #569
patch for kernel suggested by @amshinde fixed the issue, linux-container kernel builds on Ubuntu 16.10.

cc 2.0 and 2.1 released and available for Ubuntu 16.10

[2017-01-14 02:47] #569 closed

[2017-01-14 02:54] gorozco1 commented on #530
Repos updated and released:

http://download.opensuse.org/repositories/home:/clearlinux:/preview:/clear-containers-2.0
http://download.opensuse.org/repositories/home:/clearlinux:/preview:/clear-containers-2.1

[2017-01-14 02:54] #530 closed

[2017-01-16 03:56] jcvenegas commented on #552
Testing a bit more seems that our swarm test tries to init a new swarm before the swarm leave actually finished. I see in the docker log that the complete leave task is finished. we need to make sure that that the host is not part of a swarm before init a new one .

[2017-01-16 03:59] jcvenegas commented on #552
Tested a workaround that checks if the waits for swarm leave before finish the test. with this the problems goes away. I will send a PR with the "fix", also will need to crate a docker.

[2017-01-16 21:01] GabyCT opened #578 "Not possible to retrieve the hostname of a replica (swarm) with Docker 1.12.5"
Currently in docker 1.12.5 it is not possible to obtain the hostname of any replicas, as curl hangs all the time. However, this behavior is already fixed in Docker version 1.13.0-rc5 using runc.

1.  docker swarm init
2. docker service create --name testswarm --replicas 4 --publish 8080:80 nginx /bin/bash -c "hostname > /usr/share/nginx/html/hostname; nginx -g \daemon off;\" 2> /dev/null
3. unset

[2017-01-16 21:34] GabyCT commented on #578
Using runc with docker 1.12.5 is working perfectly.
1. url=http://127.0.0.1:8080/hostname
2. curl $url
7ca4aa689c16

This was tested on using clearlinux.

[2017-01-16 22:31] GabyCT commented on #552
To fix this issue modifications to the test were applied https://github.com/01org/cc-oci-runtime/pull/579

[2017-01-17 10:16] #325 closed

[2017-01-17 15:21] GabyCT commented on #578
Swarm should be tested using 2.1

[2017-01-17 16:35] chavafg opened #581 "CI tests: kernel panic in the DUT randomly"
Recently I have seen that sometimes the machines that run the CI tests are getting hanged. I have experienced the same issue on ClearLinux and Ubuntu machines. I have not seen this behavior in the Fedora machine.

When trying to connect the monitor to the hanged machine, I cannot see any output. On the test execution log I can see that the last tests that were being executed:

 ✓ HostName is passe

[2017-01-17 16:38] GabyCT opened #582 "Testing: OBS packages for Ubuntu 16.10"
Test 2.0 and 2.1

[2017-01-17 16:41] GabyCT commented on #581
Which docker version are you using?

[2017-01-17 16:45] GabyCT commented on #581
If you are using 1.12.5 or above you will face issues with docker swarm leave --force that is not finishing and that is causing the hanging, https://github.com/01org/cc-oci-runtime/pull/579 should solve that

[2017-01-17 16:47] chavafg commented on #581
Still on version 1.12.1.
579 solves swarm hangs, right? But I have seen that the whole machine is getting hanged.

[2017-01-17 16:51] GabyCT commented on #581
Mmm..that is odd with 1.12.1

[2017-01-17 18:00] GabyCT commented on #582
Tested with docker integration tests and docker 1.12.6

[2017-01-17 18:00] #582 closed

[2017-01-17 18:14] gorozco1 commented on #519
Output of audit.log when trying to start cc-proxy.socket

[code]

[2017-01-17 18:34] gorozco1 commented on #519
IMHO what is missed here is a extra package for selinux, like docker-selinux and it will be only on rh based systems.

https://github.com/mgrepl/docker-selinux

[2017-01-17 19:06] gorozco1 commented on #519
After some investigation and log check I found this:

$ sealert -l 4a5e8072-4604-440b-b1bd-51750d8e83e9
SELinux is preventing systemd from listen access on the unix_stream_socket /run/cc-oci-runtime/proxy.sock.

*****  Plugin catchall (100. confidence) suggests   **************************

If you believe that systemd should be allowed listen access on the proxy.sock unix_stream_socket by default.

[2017-01-17 19:08] gorozco1 commented on #519
Then I did run what the tool suggest:

ausearch -c 'systemd' --raw | audit2allow -M my-systemd
semodule -X 300 -i my-systemd.pp

The issue still there, and I continue checking...

[2017-01-17 20:48] gorozco1 commented on #519
# Fix/Workaround

Create the policy with:

`# ausearch -c 'systemd' --raw | audit2allow -M my-systemd
`

Check the content of my-systemd.te

[code]

Fix  /run/cc-oci-runtime/proxy.sock

`# restorecon -R -v /run/cc-oci-runtime/proxy.sock
`

Instert selinux module

`# semodule -X 300 -i my-systemd.pp
`

Start proxy-socket:

`# systemctl start cc-proxy.socket`

Check status on proxy-socket:

[code]

[2017-01-17 21:24] gorozco1 commented on #519
Should I close this item?

[2017-01-17 21:28] jcvenegas commented on #519
Probably document this fix in the wiki section for  fedora installation

[2017-01-17 22:04] jcvenegas commented on #581
This is all the machine not just docker, right ? Do you know if the happen with runc as well ? or just Clear Containers ?

If the machine freezes, what is the kernel version in Ubuntu and Clear Linux ?

[2017-01-17 22:32] devimc commented on #548
seems like this bug was fixed in 1d32b9ce607130480cbe76d8f6cf503f3b00e2c

[code]

[2017-01-17 22:35] #548 closed

[2017-01-18 14:00] sameo opened #585 "Adapt to the new proxy shim protocol"
Once https://github.com/clearcontainers/proxy/issues/1 is implemented, the runtime will have to adapt to this new protocol and create `cc-shim` with the right data for it to connect to the proxy.

[2017-01-18 14:05] chavafg commented on #581
@jcvenegas that is right, haven't tested with runc, but after trying to reproduce, now the machine got hanged in the proxy tests, so maybe it is more related with clear containers:

[code]
On Ubuntu 16.04 I have this kernel: `4.4.0-59-generic`
On clear 12800 I have this one: `4.9.4-294.native`

[2017-01-18 14:06] sameo opened #586 "Remove the shim code"
And use https://github.com/clearcontainers/shim instead.
This will include runtime changes as well (see https://github.com/clearcontainers/proxy/issues/1) and both efforts should be merged atomically.

[2017-01-18 14:06] chavafg commented on #581
This is the kernel panic I found on the ubuntu machine:
[code]

Will try to check if it is a similar issue on clear

[2017-01-18 14:07] sameo opened #587 "Remove the proxy code"
And rely on https://github.com/clearcontainers/proxy instead.
This will include runtime changes as well (see clearcontainers/proxy#1) and both efforts should be merged atomically.

[2017-01-18 14:12] chavafg commented on #581
This should be easily reproducible by running the `./tests/helpers/test-campaign.sh` in a loop.
e.g.
[code]

[2017-01-18 14:19] gorozco1 opened #588 "missing doc to install clear-containers 2.1 in the wiki"
Currently there is no doc to install clear-containers 2.1 in the wiki.

[2017-01-18 14:26] dlespiau commented on #581
A oops in the bridging code handling multicast to implement igmp snooping. IGMP snooping is a feature that loops at join/leave IGMP messages to forward multicast packets to the correct port instead of defaulting to broadcasting.

As a workaround You may want to try disabling CONFIG_BRIDGE_IGMP_SNOOPING at kernel compile time (that's the host creating the bridge) or with sys/devices/virtual/net/brN

[2017-01-18 17:46] dlespiau commented on #418
We've started to file more precise issues to improve the situation, so we can close this non specific enough issue.

[2017-01-18 17:46] #418 closed

[2017-01-18 18:26] gorozco1 commented on #588
closing due there is a duplicate with #532

[2017-01-18 18:26] #588 closed

[2017-01-18 20:12] jcvenegas commented on #553
I tested this using  2.1 (59db2cc63a6)
[code]
Build the new image:
[code]
Run a container based on built image and verify ENV_VAR
[code]

Note Step 7 that prints env vars and  clear-container version:
[code]

Docker info:
[code]
OS version:
[code]

[2017-01-18 20:27] jcvenegas commented on #553
Hi @pdxjohnny,
Could you please provide the runtime version and OS  you are using ?

I tested this with latest code and seems that is working, could you please
try to update and check again.
Probably you would like to add to your dockerfile something like this:
[code]

If the ENV variables are persevered, could you please verify your container have network connection?
something like ping your host

[2017-01-18 21:24] devimc commented on #578
Port forwarding using ```docker --publish``` works
[code]
Port forwarding with swarm is NOT working using ```http://127.0.0.1:8080/``` but it works using container's IP
[code]
notice that the IP of this container is **172.18.0.3**
I executed ```iptables``` to get more information about port forwarding
[code]
```curl http://172.18.0.2:8080/hostname``` hangs in cc-oci-runtime but it doesn't hang in

[2017-01-19 02:48] #542 closed

[2017-01-19 09:13] jodh-intel opened #591 "tag 2.0.0 builds cc-proxy and cc-shim."
`cc-proxy` and `cc-shim` were added to the repo before the `2.0.0` tag was applied.

As such, building at this tag currently means that both these extra applications are built, even though they are not used. This is awkward for users since they must have all the go dependencies installed to have a successful build even though the resulting proxy and shim binaries are not used.

We need to disable

[2017-01-19 13:53] chavafg opened #593 "Investigate why we got : Error response from daemon: Cannot kill container"
Recently on the CI, we have got this error very frequently (almost on every execution the error appears).

[code]

[2017-01-19 13:58] grahamwhaley commented on #593
My immediate thought is that we can expand the code in https://github.com/01org/cc-oci-runtime/blob/master/tests/lib/test-common.bash#L28 to check if the `kill` and `rm` calls work. In particular, as we are seeing the `kill` fail in some cases as the container is `not running`, maybe we can print out a `status` dump if the command fails for instance?

[2017-01-19 15:01] chavafg commented on #593
It can be reproduced by running:
[code]
On cc-oci-runtime.log:
[code]

[2017-01-19 16:13] devimc commented on #578
debugging ```curl http://localhost:8080/hostname``` using tcpdump

**cc-oci-runtime**
[code]

**runC**
[code]

one thing to highlight is that **cc-oci-runtime** has
[code]
but  **runc** has
[code]

[2017-01-19 16:26] chavafg commented on #452
@jodh-intel should we define the frequency of the release candidates? Or they should be based on new functionality added?

[2017-01-19 16:27] chavafg commented on #337
still need to add pause and unpause tests, will have them by the end of this week, then I will close this issue.

[2017-01-19 16:29] dlespiau commented on #337
We don't support pause and unpause, nor any plan to support them anytime soon. Not sure of the value of having those tests, we can probably skip them for now?

[2017-01-19 16:50] grahamwhaley commented on #452
CC @sameo @dlespiau as well.

[2017-01-19 16:54] devimc commented on #578
debugging
[code]

**cc-oci-runtime**
[code]

one thing to highlight
[code]

investigating firewall & iptables ....

[2017-01-19 18:56] eadamsintel opened #596 "Feature request: Provide error messages about missing KVM support on command line if cor runtime crashes back to prompt"
Recently I did a bios upgrade and it turned off my virtualization without my knowledge.  When I tried to run a clear container (--runtime=cor) it just crashed back to the prompt and the error logs using journalctl -u docker.service did not help me realize this.  It would be helpful if I got some kind of indication that kvm was not enabled or working.   In general if any common error messages espec

[2017-01-19 21:30] dlespiau commented on #581
Removing this one from the 2.1 stabilisation project as it doesn't seem to be a runtime problem.

[2017-01-20 09:01] jodh-intel commented on #596
Hi @eadamsintel - this is a fair point and touches on the following issues:

- #341
- #364

[2017-01-20 10:49] #463 closed

[2017-01-20 13:48] grahamwhaley commented on #591
Was fixed by #603 - but the 'Fixes' comment was not in the commit or merge, so didn't get auto-closed (I think).

[2017-01-20 13:48] #591 closed

[2017-01-20 14:34] #574 closed

[2017-01-20 17:35] amshinde commented on #324
@GabyCT This should be fixed with image 12860. Can you please verify.

[2017-01-20 17:55] gorozco1 commented on #324
@amshinde this means we need to update clear-containers image?

[2017-01-20 18:01] amshinde commented on #324
@gorozco1 yes will need to. Though the image hasnt been packaged yet. Need to download from:
https://download.clearlinux.org/releases/12860/clear/

[2017-01-20 20:51] jcvenegas commented on #581
I could  not reproduce the panic , But  I tested disabling  /sys/devices/virtual/net/{docker,docker_gwbridge}/bridge/multicast_snooping and I dont see bat test regressions. Agree to use this workaround by now, @chavafg you could add it to the DUT before start the test

I've compiled a kernel with debug info to get more data about the oops, but need to reproduce it first.

[2017-01-20 21:37] GabyCT commented on #324
@amshinde this was verified with clear-12860 image and CC 2.1. It looks that is working properly
# docker run -ti perl perl -e 'print "Hello World\n"'
Hello World

[2017-01-20 21:37] #324 closed

[2017-01-20 21:40] GabyCT commented on #318
Closing this issue as is working with clear-12860 image and CC 2.1.
docker run -ti perl perl -e 'print "Hello World\n"'
Hello World

[2017-01-20 21:40] #318 closed

[2017-01-23 10:32] #596 closed

[2017-01-23 10:51] #566 closed

[2017-01-23 11:37] grahamwhaley commented on #593
I see one of the logs mentions failure to umount resolve.conf - could this be in any way related to #570 maybe?

[2017-01-23 14:08] dlespiau commented on #553
Alright, @jcvenegas verified it was working and added an integration test to make sure we don't break it. Closing then. Please do re-open if needed, double checking you are using the latest code from master.

[2017-01-23 14:08] #553 closed

[2017-01-23 14:55] chavafg commented on #593
Also maybe related to #577 . I did some retest before #577 was merged and I didnt get the failure.

[2017-01-23 14:56] devimc commented on #593
fixing issue...

[2017-01-23 17:24] dlespiau commented on #385
Given that we want to split out the proxy and shim before 2.1, I think we can skip that bug entirely for this repo. We'll need contributing documents for each new repos, so opened:

- https://github.com/clearcontainers/shim/issues/2
- https://github.com/clearcontainers/proxy/issues/3

[2017-01-23 18:39] dlespiau commented on #564
Considering we want to get rid of allocateIO in the next few days, we can close that one.

[2017-01-23 18:39] #564 closed

[2017-01-23 23:42] dborquez opened #616 "Docker is leaking file descriptors"
It seems as though docker-containerd and docker-containerd-shim are leaking file descriptors.
I ran a 4K repetition loop that starts and stops 10 concurrent containers, and docker failed to continue launching more containers at iteration 3276.

**Steps to reproduce the issue:**

1. To reproduce this issue, I ran the following script to a reasonable number of iterations i.e. 4000

[code]

2. Count

[2017-01-24 09:47] dlespiau commented on #342
We've decided that we're not doing that. Instead we're focusing on:

- make the shim interface hyperstart agnostic
- remove fd passing to not tie the proxy protocol to domain sockets

These tasks have their own bugs, so closing this one.

[2017-01-24 09:47] #342 closed

[2017-01-24 12:03] sameo commented on #505
This issue was moved to clearcontainers/proxy#4

[2017-01-24 12:03] #505 closed

[2017-01-24 12:06] sameo commented on #520
This issue was moved to clearcontainers/proxy#5

[2017-01-24 12:06] #520 closed

[2017-01-24 12:07] sameo commented on #351
This issue was moved to clearcontainers/proxy#6

[2017-01-24 12:07] #351 closed

[2017-01-24 15:44] sameo opened #617 "Host networking is not supported"
We do not support running Clear Containers within the host network (`docker --net=host run foo`).
Although this sounds like a corner case, it seems that Kubernetes starts at least one such container per node (for kube-proxy) in order to mess with the host iptables and routes.

[2017-01-24 17:38] dborquez commented on #616
Repeat this experiment with runC shows a constant number of opened files by docker-containerd and docker-containerd-shim as shown in the chart below:

![count_opened_files_runc-docker-containerd](https://cloud.githubusercontent.com/assets/13384596/22259023/5f08db82-e229-11e6-9ea2-5c27535905b5.png)
![count_opened_files_runc-docker-containerd-shim](https://cloud.githubusercontent.com/assets/13384596

[2017-01-24 18:16] dlespiau commented on #385
Reopening as we're going to release 2.1 with proxy and shim included, I misunderstood the plan!

[2017-01-24 18:54] sameo commented on #616
@dborquez Could you please check if you see this leak with the latest HEAD (571b53bdb1254165b7036a828d01c8cf88eed726) ?

[2017-01-24 18:58] dborquez commented on #616
@sameo for sure.

[2017-01-24 21:59] chavafg opened #619 "Update Building section in README.rst"
`1.12 Building` section in https://github.com/01org/cc-oci-runtime/blob/master/README.rst  now obsolete as it was written when 2.0 was developed. Some additional steps are required.

[2017-01-24 23:23] amshinde commented on #559
@sameo Is this meant for code simplification for 2.1?
The order of passing the arguments to the forked process is totally specific to the runtime. Another process(runtime) could choose to do this differently. The shim is ultimately exec-ed with the required arguments. So I am not very clear about how the above would impact this : "would allow the shim to run as an independent process"

[2017-01-25 15:47] jcvenegas commented on #581
I've tried to reproduce the panic in Clear Linux without success. But the way I tracked the function that breaks.

1.- If you disable /sys/devices/virtual/net/{docker,docker_gwbridge}/bridge/multicast_snooping it still the the function is called , so either ignores  disabling IGMP or I am not disabling the right bridge

2.- IGMP is used with Qemu/kvm (even using a simple docker run), if I try to t

[2017-01-25 18:00] #385 closed

[2017-01-25 19:49] aduenasd opened #622 "cc-proxy file descriptors leak"
Use of ‘lsof’ to track cc-proxy file descriptors.
The following are the fd after cc-proxy initialize and idle status:
[code]
Then let’s start a simple workload:
[code]
And wait for the console to prompt.

Now ‘lsof’ shows new fd opened:
[code]

Then kill the container instance:
[code]
Track fd opened with ‘lsof’:
[code]
‘lsof’ shows the last fd’s were not closed after container instance was destro

[2017-01-25 20:02] jcvenegas opened #623 "failed to run hyper cmd startpod"
By time to time docker can not run a container printing the following error:
docker: Error response from daemon: shim error: open pid: no such file or directory

This this seems by en error by when we try to start a pod, cc-proxy return the following error:
[code]

The issue random, and easy way to reproduce it is :
[code]
docker info:
[code]

cc-proxy log (-v=4):
[code]
runtime version:
2.1-rc1 t

[2017-01-25 20:18] dlespiau commented on #622
Which version are you running? I thought I had fixed this, but apparently not?

[2017-01-25 20:22] aduenasd commented on #622
I'm using:
* master  571b53b Merge pull request #610 from dlespiau/20170123-fd-leak-error-path

[2017-01-25 20:25] dlespiau commented on #622
Ah well, I'll have a look then.

[2017-01-25 20:37] chavafg commented on #623
Seems like it happens only with docker 1.12.6, when running on fedora and clearlinux with 1.12.5, I got no issues, but when upgrading to 1.12.6, the issue is reproduced easily

[2017-01-25 21:07] chavafg commented on #623
Nevermind, I just reproduced with 1.12.5 on Ubuntu 16.04

[code]

cc-oci-runtime.log
[code]

[2017-01-25 21:23] pdxjohnny commented on #553
Sorry, was gone for a while, you are right I did not test on master, my bad. I was on a very old cc-oci-runtime. For reference this was the system.

[code]

[2017-01-25 21:33] aduenasd commented on #622
Seems like when doing 'docker rm -f XXXX', cc-proxy is not calling
func (vm *vm) Close() {
        vm.hyperHandler.CloseSockets() <<<< these is the place where sockets are closed properly

May be something like this could work:
root@clr-skylake ~/go/src/github.com/01org/cc-oci-runtime # git diff proxy/proxy.go
diff --git a/proxy/proxy.go b/proxy/proxy.go
index 6009912..b217cbb 100644
--- a/proxy/p

[2017-01-25 21:55] jcvenegas commented on #623
@chavafg  same here with 1.13, discarded the issue docker bug

[2017-01-25 23:33] chavafg commented on #552
Tested on 1.12.5 and 1.12.6 and this issue is no longer present, closing this issue

[2017-01-25 23:33] #552 closed

[2017-01-26 03:43] chavafg commented on #593
For some strange reason, the problem still persist. Although now it seems that it happens less frequently.
I tried to look at the logs of cc-oci-runtime, but this time I couldn't find anything related to the docker error. Reopening.

[2017-01-26 09:07] sameo commented on #623
@jcvenegas Can you also reproduce it with 1.12.1 ?

[2017-01-26 16:27] dlespiau commented on #622
@aduenasd Right that where it was before I changed it: https://github.com/01org/cc-oci-runtime/commit/2c55083e3c2f9ba963b5e10ec0e57345ea8b3cc5. vm.Close() is now called when detecting the qemu process is gone. The testsuite also checks that we don't leak fds. Must have missed something.

[2017-01-26 16:40] dlespiau commented on #622
@aduenasd Just did 10 times:

[code]

result: No leak that I can see. Are you really sure you are running the latest proxy? for instance if a old proxy instance was running on the machine and you upgraded the package, the proxy hasn't been replaced by the new binary.

[2017-01-26 17:07] dborquez commented on #622
@dlespiau Hello, I also observed the leak behaviour reported by @aduenasd in the version commit 7563a13fbcec0ea5fffadcc4ce0f1dec492bb166
Merge: f19b267 ac31610
Author: Samuel Ortiz <sameo@linux.intel.com>
Date:   Thu Jan 26 17:43:14 2017 +0100

    Merge pull request #624 from amshinde/set-user

    Run container as non-root user

[2017-01-26 17:16] dlespiau commented on #622
Well, a few questions, really can't reproduce it :/

- Is qemu still running after the docker rm? is so, that's the real problem
- how do you start the proxy? has the machine be rebooted since then?
- what's the mini OS version?
- could you make sure to kill the proxy and launch it by hand with $ sudo ./cc-proxy -v 3 and grab the debug output after the docker rm, that's the sequence that starts wi

[2017-01-26 17:18] dborquez commented on #622
@dlespiau You can reproduce it with a clearlinux image or ubuntu image.
At the same time we noticed that when you launch a container using a 'busybox' image effectively we can't find fd leaks.

[2017-01-26 17:24] dlespiau commented on #622
ok, reproduced it with the clearlinux image, thanks

[2017-01-26 17:26] aduenasd commented on #622
- No qemu instance running after docker rm
- I start proxy via systemd

[2017-01-26 17:57] dborquez opened #626 "Task: Plotting PnP metrics"
The metrics will include:
- memory consumption
- cpu usage
- latency
- i/o

[2017-01-26 20:37] jcvenegas commented on #623
@sameo yes, the error comes from hyperstart when tries to setup the network, seems that the device is not ready some times ... working in a fix

[2017-01-26 23:15] chavafg opened #627 "Functional tests fail with: failed to run proxy command hello: {"success":false,"error":"tests_id: container already registered"}"
Functional tests  `run detach pid file` and `start and kill state` fail with the next error:

[code]

The issue is easily reproducible when running `make functional-test`
Seems that docker tests are not affected.

[2017-01-27 21:02] devimc commented on #616
related to cgroups, working on that ...

[2017-01-27 21:59] devimc commented on #627
actually ```start then pause and resume``` is failing
[code]
hence ```tests_id``` is not released/freed by cc-proxy provoking
[code]

[2017-01-30 16:37] sameo commented on #617
This issue was moved to clearcontainers/runtime#12

[2017-01-30 16:37] #617 closed

[2017-01-30 16:38] sameo commented on #24
This issue was moved to clearcontainers/runtime#13

[2017-01-30 16:38] #24 closed

[2017-01-30 16:41] sameo commented on #193
This issue was moved to clearcontainers/runtime#14

[2017-01-30 16:41] #193 closed

[2017-01-30 16:42] sameo commented on #192
This issue was moved to clearcontainers/runtime#15

[2017-01-30 16:42] #192 closed

[2017-01-30 16:50] sameo commented on #144
This issue was moved to clearcontainers/runtime#16

[2017-01-30 16:50] #144 closed

[2017-01-30 16:51] sameo commented on #20
This issue was moved to clearcontainers/runtime#17

[2017-01-30 16:51] #20 closed

[2017-01-30 16:51] sameo commented on #189
This issue was moved to clearcontainers/runtime#18

[2017-01-30 16:51] #189 closed

[2017-01-30 16:52] sameo commented on #148
This issue was moved to clearcontainers/runtime#19

[2017-01-30 16:52] #148 closed

[2017-01-30 16:53] sameo commented on #305
This issue was moved to clearcontainers/runtime#20

[2017-01-30 16:53] #305 closed

[2017-01-30 16:54] sameo commented on #330
This issue was moved to clearcontainers/runtime#21

[2017-01-30 16:54] #330 closed

[2017-01-30 16:55] sameo commented on #329
This issue was moved to containers/virtcontainers#100

[2017-01-30 16:55] #329 closed

[2017-01-30 16:59] sameo commented on #196
This issue was moved to clearcontainers/runtime#22

[2017-01-30 16:59] #196 closed

[2017-01-30 16:59] sameo commented on #195
This issue was moved to clearcontainers/runtime#23

[2017-01-30 16:59] #195 closed

[2017-01-30 17:00] sameo commented on #184
This issue was moved to clearcontainers/runtime#24

[2017-01-30 17:00] #184 closed

[2017-01-30 17:25] dlespiau commented on #237
Closing this bug. It's not related to the runtime. The upstream issue (hyperhq/hyperstart#157) should be enough to track it.

[2017-01-30 17:25] #237 closed

[2017-01-30 17:32] dlespiau commented on #275
Ok, closing that one as well: as James said, #518 addresses the most important problem, and the  process.consoleSize support is tracked in its own bug.

[2017-01-30 17:32] #275 closed

[2017-01-30 17:53] dlespiau commented on #31
As we are moving towards 3.0 and a go runtime, closing.

[2017-01-30 17:53] #31 closed

[2017-01-30 19:58] devimc opened #632 "(cc-oci-runtime:3934): GLib-WARNING **: Invalid file descriptor."
cc-oci-runtime sometimes fails when hooks do not read from stdin
[code]

[2017-01-31 08:58] jodh-intel commented on #632
This sounds similar to 52a32216df9a9daf4603004977291d39bb5b0314 + 960bd23e523fbcb2508e2459902d66e624436360.

[2017-01-31 12:14] dlespiau commented on #593
Oh, seems like I got the wrong issue number in the commit message :( reopening.

[2017-01-31 12:21] dlespiau commented on #593
Oh no, I misread, sorry for the noise.

[2017-01-31 12:21] #593 closed

[2017-01-31 15:09] dlespiau commented on #519
@gorozco1 do we have selinux support packaged on OBS now? ideally, it shouldn't be an extra step from installing the runtime package

[2017-01-31 16:01] gorozco1 commented on #519
@dlespiau yes we have it packaged in OBS and there is no extra step... we can close this now.

[2017-01-31 16:01] #519 closed

[2017-01-31 16:11] dlespiau commented on #519
Thanks!

[2017-01-31 17:02] #622 closed

[2017-01-31 18:12] devimc commented on #632
@jodh-intel yes, I'm re-implementing ```cc_run_hook```

[2017-02-01 01:07] mcastelino commented on #578
@devimc @jcvenegas Looking at this now. I am able to replicate it.

[2017-02-01 17:08] dborquez commented on #412
This issue is caused by fd leaks as such described in #616, closing.

[2017-02-01 17:08] #412 closed

[2017-02-01 17:10] dborquez commented on #416
@dlespiau is not an issue.

[2017-02-01 17:10] #416 closed

[2017-02-01 17:25] #627 closed

[2017-02-01 17:39] sameo commented on #532
Updated the Fedora installation page.

[2017-02-01 21:23] gorozco1 commented on #532
Updated Ubuntu installation page

[2017-02-02 10:49] jodh-intel opened #637 "'ps' command does not support '--format' option"
- terminal 1 (start stand-alone `containerd`):

[code]

- terminal 2 (start a Clear Container):

[code]

- terminal 3 (attempt to list running containers):

[code]

The problem is that the `ps` command does not provide the `--format` option.

[2017-02-02 10:56] jodh-intel commented on #637
Here's what `runc` provides:

[code]

Until we fully support `ps`, a minimal fix would be to simply return `{}` for `ps --format=json $container` since that is a valid but empty JSON document.

[2017-02-02 15:23] aduenasd opened #638 "qemu instances alive after 'docker rm -f'"
qemu instances are not being shutdown after 'docker rm -f'

root@clr-skylake # pidof qemu-system-x86_64
root@clr-skylake # docker run -tid clearlinux bash
7085933e09105204369356be0bbdf2681b22a782b566312d7f2b0b0e51ba331f
root@clr-skylake # docker rm -f $(docker ps -aq)
7085933e0910
root@clr-skylake # pidof qemu-system-x86_64
19956
root@clr-skylake  #

I noticed this at:
commit 7188b1c3e22dc4aec0166

[2017-02-02 15:28] dlespiau commented on #638
Hi,

Which docker version are you using for this test?

[2017-02-02 15:34] aduenasd commented on #638
root@clr-skylake ~ # docker version
Client:
 Version:      1.12.6
 API version:  1.24
 Go version:   go1.7.3
 Git commit:   7392c3b0ce0f9d3e918a321c66668c5d1ef4f689
 Built:        Wed Jan 11 05:25:37 2017
 OS/Arch:      linux/amd64

Server:
 Version:      1.12.6
 API version:  1.24
 Go version:   go1.7.3
 Git commit:   7392c3b0ce0f9d3e918a321c66668c5d1ef4f689
 Built:        Wed Jan 11 05:25:37 201

[2017-02-02 15:51] dlespiau commented on #366
This has been fixed in the continuation of the proxy code in github.com/clearcontainers/proxy. Because the code in cc-oci-runtime is due to be removed medium term in favour of the new code, not going to add support for the go part of cc-oci-runtime in 2.x.

[2017-02-02 15:51] #366 closed

[2017-02-02 16:58] devimc commented on #638
guilty 2b585d9c8a2b1295479faecddea2cd54df1c3a7f

running
[code]
cc-proxy crashes

[code]

[2017-02-02 17:08] dlespiau commented on #638
Hum, what makes you think that b585d9 is the faulty commit? that backtrace isn't near that (and it's a new one to me).

[2017-02-02 17:11] dlespiau commented on #638
oh actually, it is related, sorry.

 "error writing I/O data to client: write unix @->@: write: broken pipe" is telling me the shim isn't there any more and we signal that the VM is gone. That sounds like a bad idea :/

[2017-02-02 17:13] devimc commented on #638
one commit before that one (509b1b3490fff71e59c84ef54ff78d87cb5101f9) cc-proxy does not crash

[2017-02-02 17:16] dlespiau commented on #638
That also tells me the shim is terminated before all the stdout/err data has been flushed, but I guess there's nothing we can do when the shim is forcefully terminated

[2017-02-02 17:57] dlespiau opened #640 "proxy: fd leak if exec shim goes away unexpectedly"
follow up of:
  - https://github.com/01org/cc-oci-runtime/issues/622
  - https://github.com/01org/cc-oci-runtime/issues/638
  - https://github.com/01org/cc-oci-runtime/pull/639

The case where it happens:

- One or several shims are running for that pod.
- One of the shim goes away, because it has been killed with SIGKILL
- The process in the VM the shim was shadowing still has data to send to tha

[2017-02-02 18:33] #632 closed

[2017-02-02 23:51] mcastelino commented on #578
Root caused this issue. There were 3 bugs in our code

1. MTU is not being setup on the interfaces (on the tap interface as well as the interface inside the VM)
2. Docker sets up port mapping rules inside the container ns (so we need to propagate them into the VM)
3. The container side iptables rules *seem* to interfere with the flow of bridged packets into the VM. This is probably bridge filterin

[2017-02-03 00:19] sameo commented on #578
We should have an open issue for that one. @amshinde If you're working on it, please open an issue to track it.

[2017-02-03 00:22] amshinde commented on #578
@sameo Sure. I'll open issues for setting up port-mapping as well.

[2017-02-03 00:26] amshinde opened #643 "MTU needs to be set for network interfaces"
MTU needs to be set for the tap interface and the interface inside the VM. This is part of the fix for issue  #578 .

[2017-02-03 00:31] amshinde opened #644 "Set up port mapping rules inside the VM."
Docker sets up port mapping rules inside the container ns (so we need to propagate them into the VM). Part of the fix for issue #578

[2017-02-03 12:55] dlespiau opened #646 "containerd error in docker logs: ERRO[69610] failed to close stdin: rpc error: code = 2 desc = containerd: process not found for container"
There's something we don't do "correctly" still when spawning the shim. To reproduce:

- I'm using docker 1.12.5 (can probably be reproduced elsewhere)
- running the full docker integration test suite shows quite a few of those in the docker logs

edit: oh, actually I was running docker 1.12.5 for this one.

[2017-02-03 14:42] dlespiau opened #647 "Fail a test if a container, cc-shim or qemu is left behind"
We need to tighten a bit our tests by failing if something unexpected happens to better understand where the bugs are. It's not enough to say "at the end of the test run, we have processes left behind".

Tests need to ensure:

- setup(): no qemu(-lite) process is running on the system
- setup(): no cc-shim is running on the system
- setup(): there's no running container on the system

- teardown()

[2017-02-03 14:50] jodh-intel commented on #647
Agreed, although we can tighten up the checks further:

* "`function()`: no `$thing` is running on the system *as the user running the tests*".

[2017-02-03 15:27] dlespiau opened #649 "runtime hangs in delete with an error in hyperstart (clearlinux image)"
I've spent some time exercising the tests and stumbled on yet another bug:

Running:

[code]

One of the docker rm just hangs. The processes then are:

[code]

The proxy output:

[code]

The qemu process is gone, so vm has been shutdown, presumably. A "normal" run goes:

[code]

I've played with many things, so could be a problem on my end. Could be a problem with the proxy as well, maybe, but wha

[2017-02-03 15:43] dlespiau commented on #649
So, actually the qemu process is still there, but not a sub-process of containerd like I was expecting (it used to be this way, not sure what changed.

So what happens here: the runtime sends destroypod through the proxy and hyperstart never returns, so the proxy command never returns and delete is blocked for ever.

[2017-02-03 16:16] devimc commented on #649
seems like 7355e74b9c79951ec8aba2fe95665f16f2ebdfc4 introduced this issue
@amshinde  do we have to update clear containers image (hyperstart)?

[2017-02-03 16:26] dlespiau commented on #649
@devimc hum, could you provide more information with your conclusions? :) how did you conclude  7355e74 was the faulty commit? tried and checked out the commit before that? reverted the commit? it's not obvious to me that this commit is the guilty commit.

[2017-02-03 16:42] devimc commented on #649
@dlespiau , revert last commit and try again
[code]
works for me

[2017-02-03 16:43] #638 closed

[2017-02-03 16:54] sameo commented on #649
Should we at least have response timeout when talking to hyperstart ?

[2017-02-03 16:56] devimc commented on #649
@sameo yes, to avoid these issues

[2017-02-03 16:57] devimc commented on #649
btw fix was already merged https://github.com/clearcontainers/hyperstart/pull/2

[2017-02-03 16:59] dlespiau commented on #649
we'll need to update version.txt with the required clear linux image, of course. I think we shouldn't merge commit that depend on hyperstart changes before those are available in a public image with the number of versions.txt changed :p

[2017-02-03 17:02] dlespiau commented on #649
I can confirm @devimc conclusions, hopefully an image update will fix this.

[2017-02-03 17:04] sameo commented on #649
@jcvenegas Do you know which CL image includes both your NIC fix and @amshinde fix ?

[2017-02-03 17:09] sameo commented on #644
@amshinde Can we try restoring all iptables rules into the VM and deleting the VM netns one instead of just supporting port mappings ?

[2017-02-03 17:09] sameo commented on #644
cc @mcastelino

[2017-02-03 17:18] jcvenegas commented on #649
@sameo https://download.clearlinux.org/releases/13160/clear/clear-13160-cloud.img.xz

[2017-02-03 17:19] dlespiau opened #650 "Add a timeout for hyperstart operations"
We've seen occasions where hyperstart can just block and never answer, especially in error paths. The latest instance being issue https://github.com/01org/cc-oci-runtime/issues/649, causing the runtime delete() operation to block.

To make the runtime robust to such events, we should have a reasonable timeout (5s?) around hyperstart operations. The use of GMainLoops should make this straightforwar

[2017-02-03 17:30] dlespiau commented on #649
That image doesn't fix the issue for me (could be that the hyperstart packaged doesn't all the patches), possibly relevant, errors around user handling:

[code]

[2017-02-03 17:40] jodh-intel commented on #650
I don't think we're going to be able to pick a timeout figure which is going to be reliable for all scenarios. Hence, we are probably going to have to have a reasonably high default value coupled with a way to change that default (cli option, env-var, `vm.json` entry, etc.).

But whether the timeout is fixed or variable, we should definitely add a `g_info()`/`g_debug()` call as early as possible [

[2017-02-06 12:15] dlespiau opened #652 "There are still mentions of clean_docker_ps in the tests"
clearn_docker_ps has been removed from the test code, but there are still mentions of it! From: https://github.com/01org/cc-oci-runtime/pull/642

[code]

[2017-02-07 23:11] #652 closed

[2017-02-08 15:57] #649 closed

[2017-02-09 16:03] GabyCT commented on #616
This behavior was observed in stress testing as after a time of running and deleting containers the test device just did not respond. Even a while of running and deleting containers, you need to reboot the test device or it will not come back.

[2017-02-09 16:08] GabyCT commented on #343
These tests have been added and they will run for each new release. However, they are affected by the issue #616. Currently, it is only possible to run and delete 70 containers (using a swarm bench) with a loop of 10 repetitions before the DUT gets hanged or without response. After #616 is solved the number of containers will increase.

[2017-02-09 16:08] #343 closed

[2017-02-09 18:18] #533 closed

[2017-02-10 16:50] GabyCT opened #664 "Add DNS test"
Add dns test with swarm at the docker integration tests

[2017-02-12 09:18] amsokol opened #666 "Failed to start container in cor environment"
Dear, All,

I get the error when I try to start container in Clear Linux (both 13260 and 13330 releases).
Clear Linux is deployed from clear-13330(13260)-hyperv.vhdx.gz  with enabled nested virtualization in Hyper-V on Windows 10 x64 (with latest updates).

ERROR:
# docker pull bash
Using default tag: latest
latest: Pulling from library/bash
0a8490d0dfd3: Pull complete
12503a53c30a: Pull complete

[2017-02-12 09:24] amsokol commented on #666
May be it helps

# systemctl status docker-cor

docker-cor.service - Docker Application Container Engine
   Loaded: loaded (/usr/lib/systemd/system/docker-cor.service; disabled; vendor preset: disabled)
   Active: active (running) since Sun 2017-02-12 08:56:11 UTC; 25min ago
     Docs: https://docs.docker.com
 Main PID: 369 (dockerd)
    Tasks: 34
   Memory: 281.9M
      CPU: 1h 25min 47.074s
   C

[2017-02-13 20:40] jodh-intel opened #667 "runtime should log version details to logfile"
To enable easier logfile analysis/debug, the runtime should log full version details (`PACKAGE_VERSION` and `GIT_COMMIT`) for every call of the runtime.

[2017-02-14 12:05] amsokol commented on #666
The same error in release 13350

[2017-02-14 15:41] dborquez commented on #626
Update status:
- Complete: Automate Density Test
- Complete: Automate VmData and VmRSS consumption
- Complete: boot time using dmesg msgs

[2017-02-15 18:50] devimc commented on #666
Hi @amsokol
Could you please modify your docker service file in order to point the runtime to /usr/bin/cc-oci-runtime.sh and uncomment next lines of that script?

[code]
run your tests again and a log file will be create
[code]
please attach it

[2017-02-15 19:13] devimc opened #668 "Improve memory footprint"
- [ ] Reduce image size
- [ ] Modify guest's kernel

[2017-02-15 19:20] grahamwhaley commented on #668
Just to note, I'm having a look at the guest kernel config at present - so pull me in on this if/when needed.

[2017-02-15 19:42] jcvenegas opened #669 "dnf install breask CC 2.1"
When dnf is used to install a pakcage in a container it breaks all the container.

[code]

[2017-02-15 19:46] devimc commented on #669
qemu-lite 2.6.0 is working

[2017-02-15 19:49] jcvenegas commented on #669
Adding @anthonyzxu

[2017-02-15 19:49] devimc commented on #669
qemu-lite 2.7.0
docker run  fedora:25 dnf install rpm
[code]

[2017-02-15 20:28] gorozco1 commented on #668
@devimc I guess that after the resize of the image, that image wont be compatible anymore with cc 2.0 right?

So, this means that after 2.1 release 2.0 is going to be deprecated?

[2017-02-15 20:44] grahamwhaley commented on #668
Silly question from me - why would a size change make it incompatible?? A feature change for sure could. Maybe I'm just missing something?

[2017-02-16 04:53] gorozco1 opened #670 "test-program to check -race is supported makes OBS builds fail"
The tiny program test introduced in 7188b1c3e22dc4aec016635add6b1a4a6e62ae46 to test if -race is supported did not fix the issue on Ubuntu and continues to make the Ubuntu OBS build fail.

[   87s] # command-line-arguments
[   87s] runtime.raceinit: __tsan_init: not defined
[   87s] runtime.raceinit: __tsan_map_shadow: not defined
[   87s] runtime.racefini: __tsan_fini: not defined
[   87s] runtim

[2017-02-16 15:11] amsokol commented on #666
Dear @devimc,

Done:

2017-02-16T15:05:45.773284Z:517:cc-oci-runtime:debug:called as: /usr/bin/cc-oci-runtime create --bundle /var/run/docker/libcontainerd/dfd9317bddbd683ae399f6ed4088ce7a0bb410d3fea4554a43b7b4ea32f37674 --console /dev/pts/1 --pid-file /run/docker/libcontainerd/containerd/dfd9317bddbd683ae399f6ed4088ce7a0bb410d3fea4554a43b7b4ea32f37674/init/pid dfd9317bddbd683ae399f6ed4088ce7a0bb4

[2017-02-16 16:25] gorozco1 commented on #666
@amsokol Could you also paste the output of

`/usr/bin/cc-oci-runtime --version`

[2017-02-16 16:28] amsokol commented on #666
Dear @gorozco1,

Done:
cc-oci-runtime version: 2.1.0-rc.6
spec version: 1.0.0-rc1
commit: 6ae1ebf4c7834859c4689329a601dfe8bd5e95ca

[2017-02-17 00:01] GabyCT opened #673 "Dockerfile for building cc-oci-runtime for Centos"
Dockerfile should be added as part as documentation

[2017-02-17 00:02] GabyCT opened #674 "Dockerfile for building cc-oci-runtime for Fedora"
Dockerfile should be part as the Documentation

[2017-02-17 00:03] GabyCT opened #675 "Dockerfile for building cc-oci-runtime for Ubuntu"
Dockerfile should be part as the documentation

[2017-02-17 00:03] GabyCT opened #676 "Dockerfile for building cc-oci-runtime for Clear Linux"
Dockerfile should be part of the documentation

[2017-02-17 16:59] jodh-intel opened #679 "hypervisor auto-shutdown"
We need to consider making the hypervisor shutdown automatically if it detects that either the proxy or all associated shims have disconnected.

[2017-02-17 17:08] jodh-intel opened #680 "improve debug behaviour"
Since docker does not allow options to be passed to the hypervisor, enabling runtime debugging is awkward [1].

Rather than having to reconfigure docker to use the `cc-oci-runtime.sh` helper utility to enable debug, we could control debug via environment variables. Something like:

[code]

The best approach might be to only have one environment variable, pointing to a configuration file:

[code]

[2017-02-17 18:26] devimc commented on #668
@gorozco1   2.0 will be still compatible since it only needs systemd

[2017-02-17 18:50] devimc commented on #646
checking 1.12.1 ...

[2017-02-17 18:56] devimc commented on #623
Fixed in https://github.com/clearcontainers/hyperstart/pull/4

[2017-02-17 18:56] #623 closed

[2017-02-17 20:57] devimc commented on #587
Will be fixed in 3.0 - https://github.com/clearcontainers/runtime

[2017-02-17 20:57] #587 closed

[2017-02-17 20:57] devimc commented on #586
Will be fixed in 3.0 - https://github.com/clearcontainers/runtime

[2017-02-17 20:57] #586 closed

[2017-02-17 20:57] devimc commented on #585
Will be fixed in 3.0 - https://github.com/clearcontainers/runtime

[2017-02-17 20:57] #585 closed

[2017-02-17 20:58] devimc commented on #559
Will be fixed in 3.0 - https://github.com/clearcontainers/runtime

[2017-02-17 20:58] #559 closed

[2017-02-17 20:58] devimc commented on #21
Will be fixed in 3.0 - https://github.com/clearcontainers/runtime

[2017-02-17 20:58] #21 closed

[2017-02-17 20:59] devimc commented on #22
Will be fixed in 3.0 - https://github.com/clearcontainers/runtime

[2017-02-17 20:59] #22 closed

[2017-02-17 22:48] devimc commented on #198
will be fixed in #673

[2017-02-17 22:48] #198 closed

[2017-02-17 22:54] devimc commented on #637
Will be fixed in 3.0 - https://github.com/clearcontainers/runtime

[2017-02-17 22:54] #637 closed

[2017-02-17 23:24] devimc commented on #407
out of scope - Will be fixed in 3.0 - https://github.com/clearcontainers/runtime

[2017-02-17 23:24] #407 closed

[2017-02-20 12:09] jodh-intel commented on #666
Hi @amsokol - thanks again for reporting this issue.

Unfortunately it is not possible to run a Clear Container in a nested hyperv environment, as documented by Microsoft here:

- https://docs.microsoft.com/en-us/virtualization/hyper-v-on-windows/user-guide/nested-virtualization

[2017-02-20 14:54] dlespiau commented on #257
And this is now merged!

[2017-02-20 14:54] #257 closed

[2017-02-20 14:59] dlespiau commented on #350
This issue was moved to clearcontainers/proxy#13

[2017-02-20 14:59] #350 closed

[2017-02-20 15:02] dlespiau commented on #114
Let's garbage collect that one, the travis build is fast enough as is, no need to be overzealous.

[2017-02-20 15:02] #114 closed

[2017-02-20 16:52] devimc commented on #29
Will be fixed in 3.0 - https://github.com/clearcontainers/runtime

[2017-02-20 16:52] #29 closed

[2017-02-20 17:14] devimc commented on #82
this is a limitation that was documented https://github.com/01org/cc-oci-runtime/wiki/Limitations
Will be fixed in 3.0 - https://github.com/clearcontainers/runtime

[2017-02-20 17:14] #82 closed

[2017-02-20 17:23] devimc commented on #131
This issue was fixed when hyperstart was introduced to CC
https://github.com/clearcontainers/hyperstart/blob/master/src/init.c#L336

[2017-02-20 17:23] #131 closed

[2017-02-20 17:47] devimc commented on #141
Will be fixed in 3.0 - https://github.com/clearcontainers/runtime

[2017-02-20 17:47] #141 closed

[2017-02-20 17:58] devimc commented on #185
Will be fixed in 3.0 - https://github.com/clearcontainers/runtime

[2017-02-20 17:58] #185 closed

[2017-02-20 17:58] devimc commented on #186
Will be fixed in 3.0 - https://github.com/clearcontainers/runtime

[2017-02-20 17:58] #186 closed

[2017-02-20 17:58] devimc commented on #187
Will be fixed in 3.0 - https://github.com/clearcontainers/runtime

[2017-02-20 17:58] #187 closed

[2017-02-20 17:59] devimc commented on #188
Will be fixed in 3.0 - https://github.com/clearcontainers/runtime

[2017-02-20 17:59] #188 closed

[2017-02-20 17:59] devimc commented on #190
Will be fixed in 3.0 - https://github.com/clearcontainers/runtime

[2017-02-20 17:59] #190 closed

[2017-02-20 17:59] devimc commented on #194
Will be fixed in 3.0 - https://github.com/clearcontainers/runtime

[2017-02-20 17:59] #194 closed

[2017-02-20 17:59] devimc commented on #197
Will be fixed in 3.0 - https://github.com/clearcontainers/runtime

[2017-02-20 17:59] #197 closed

[2017-02-20 17:59] devimc commented on #218
Will be fixed in 3.0 - https://github.com/clearcontainers/runtime

[2017-02-20 17:59] #218 closed

[2017-02-20 18:01] devimc commented on #247
Will be fixed in 3.0 - https://github.com/clearcontainers/runtime

[2017-02-20 18:01] #247 closed

[2017-02-20 18:03] devimc commented on #340
Will be fixed in 3.0 - https://github.com/clearcontainers/runtime

[2017-02-20 18:03] #340 closed

[2017-02-20 18:03] devimc commented on #354
Will be fixed in 3.0 - https://github.com/clearcontainers/runtime

[2017-02-20 18:03] #354 closed

[2017-02-20 18:11] jodh-intel commented on #669
A few more data points:

- `dnf search foo`: crash.
- `dnf list`: crash.
- `rpm -qa`: OK.
- `dnf --version`: Error, but no crash.
[code]
- behaviour is consistent in `fedora:25`, `fedora:24` and `fedora:23`.
- I tried installing strace in a container, committing, then running `strace dnf ...` but no longer see the issue.

[2017-02-20 18:18] grahamwhaley commented on #669
I suspect this is *not* the same as the 9p stuff we've seen in the past affecting apt-get - but, just as a test, you could try mounting /tmp onto a ramfs to remove 9p from the equation there - that fixed the 9p issues before... (but @jodh-intel knows that already ;-)

[2017-02-20 18:59] devimc commented on #117
Will be fixed in 3.0 - https://github.com/clearcontainers/runtime

[2017-02-20 18:59] #117 closed

[2017-02-20 18:59] devimc commented on #137
Will be fixed in 3.0 - https://github.com/clearcontainers/runtime

[2017-02-20 18:59] #137 closed

[2017-02-20 20:24] devimc commented on #316
#17 was fixed closing this issue

[2017-02-20 20:24] #316 closed

[2017-02-20 21:53] jcvenegas commented on #251
Initial work in https://github.com/jcvenegas/osbuilder/commits/topic/init

[2017-02-21 08:50] jodh-intel commented on #669
Looks like we are indeed back in 9p territory...

Incorrect behaviour:

[code]

But with a non-9p `/tmp`, `dnf`'s behaviour is correct (although we still see the `mmap` error):

[code]

[2017-02-21 16:27] #670 closed

[2017-02-21 19:39] keenemaverick opened #687 "Docker-engine 1.12.1-1.fc25 no longer available from docker repository: Fedora instructions now incorrect"
Testing out the Fedora install instructions, it fails on the step to install docker-engine-1.12.1-1.fc25.

When using dnf --showduplicates to find available versions, these are the only ones listed:

[keene@localhost ~]$ sudo dnf --showduplicates list docker-engine
Last metadata expiration check: 0:16:06 ago on Tue Feb 21 11:17:37 2017.
Available Packages
docker-engine.src                     1.13

[2017-02-21 19:54] devimc commented on #687
Hi @keenemaverick thanks for reporting this issue
Unfortunately Clear Container 2.1 has compatibility issues with docker 13.x (swarm)
If you do not need swarm you can use that version
we are still working on documentation to describe limitations

[2017-02-22 16:22] dlespiau commented on #687
Ok, let's also ask docker about those, it'd be nice if they can provide the 1.12 rpms on Fedora 25: https://github.com/docker/docker/issues/31256

[2017-02-22 16:30] jodh-intel opened #690 "Updates to support OCI spec version v1.0.0-rc5"
Review what, if anything, needs to be updated to support spec version `v1.0.0-rc4`.

See:
- https://github.com/opencontainers/runtime-spec/releases/tag/v1.0.0-rc4
- https://github.com/opencontainers/runtime-spec/compare/v1.0.0-rc3...v1.0.0-rc4

[2017-02-22 16:33] dlespiau commented on #687
Another possible way would be to install the binary package: https://get.docker.com/builds/Linux/x86_64/docker-1.12.1.tgz

[2017-02-22 17:42] GabyCT commented on #673
A PR was submitted in the clearcontainers/dockerfiles repository

[2017-02-22 21:17] egernst commented on #687
For the in-tree .md file, I instead installed the fc24 version.  ie, s/25/24:

$ sudo dnf config-manager \
  --add-repo \
  https://docs.docker.com/engine/installation/linux/repo_files/fedora/docker.repo
$ sudo dnf install docker-engine-1.12.1-1.fc24

[2017-02-22 21:32] egernst commented on #687
I included the fix in  #682.  This pull request adds installation directions in-tree;  once this is merged the now erroneous wiki-page should be removed, and the new .md should be referenced.

[2017-02-22 21:57] chavafg opened #691 "cc-oci-runtime fails to parse a json file when running with docker 1.13.1"
Tried to run clear containers with docker 1.13.1. When running `docker run ` from the command line, the containers seem to work, but I see this failure in the logs:

[code]
cc-oci-runtime.log:
[code]

[2017-02-22 22:02] chavafg commented on #691
Reproduced the issue on CentOS 7 and Fedora 25.

Also, the `integration/docker` tests are getting hanged when the containers are being removed.

[2017-02-22 22:18] chavafg opened #692 "cc-oci-runtime + docker 1.13.1 - docker kill does not work"
When trying to kill a clear container with `docker 1.13.1`, docker fails to kill the container and returns an exit code of `0`.

[code]

Removing the container while is running, also sends an error message and this time the container is deleted, but `/var/lib/docker/containers` is dirty:

[code]

[2017-02-23 08:24] jodh-intel opened #693 "Add --all option for kill command"
`runc` added a `--all`l option to the `kill` command on commit https://github.com/opencontainers/runc/commit/e58671e530eb04a233d953c6a56e56804703f80c. This is being used by docker 1.13 so we also need to support `--all`.

[2017-02-23 08:24] jodh-intel commented on #691
See #693.

[2017-02-23 08:24] jodh-intel commented on #692
See #693.

[2017-02-23 21:16] devimc commented on #338
ummh seems like it was already fixed

[2017-02-23 21:17] devimc commented on #338
@jodh-intel   can I close it?

[2017-02-23 22:26] #616 closed

[2017-02-23 22:38] devimc commented on #646
Cannot reproduce using docker 1.12.1
@dlespiau  can we close it?

[2017-02-27 09:53] jodh-intel commented on #338
Hmm, oddly the reported problem *is* fixed as you say if you don't specify the cov tool. On my system that automatically uses `lcov`.

But listing the cov tool explicitly like this at configure time:

[code]

... results in:

[code]

[2017-02-27 16:18] GabyCT commented on #674
PR was submitted

[2017-02-27 16:19] GabyCT opened #700 "Add other OS for CI"
For CI other OS should be part of our testing

[2017-02-27 16:21] GabyCT opened #701 "Apply JSON features for CI"
Setup for results (Json)

[2017-02-27 16:26] grahamwhaley commented on #701
Hi @GabyCT - can you make these issues a bit more verbose please, just in case somebody else needs to pick them up and implement them? :-)  I know you probably understand exactly what they mean, but I at least could do with some more details :-)

[2017-02-27 16:47] GabyCT commented on #701
@grahamwhaley thanks for the feedback, this issue will be closed as I will assign myself this issue #435

[2017-02-27 16:47] #701 closed

[2017-02-27 17:34] chavafg opened #702 "linux-container version is wrong on ubuntu installation"
After following the installation document for Ubuntu 16.10, the linux-container package says to be version `4.9.4-53`, but when running `uname -r` on a clear container, it does not match with the installed one.

[code]

[2017-02-28 00:41] eadamsintel commented on #687
I checked out the instructions in #682 referenced above and had issues trying to install the package after this step

# dnf config-manager --add-repo https://yum.dockerproject.org/repo/main/fedora/24

This is the error I got. The instructions should cover how to install the private key.

warning: /var/cache/dnf/yum.dockerproject.org_repo_main_fedora_24-49ad15a9cfbbed21/packages/docker-engine-1.12.

[2017-02-28 17:03] egernst commented on #687
Thanks Eric. I'll update this later tonight. Can you suggest an edit in the meantime?  I expect this should resolve the issue (after adding the repo).

$ sudo dnf makecache fast

Thanks,
Eric

On Feb 27, 2017, at 4:41 PM, eadamsintel <notifications@github.com<mailto:notifications@github.com>> wrote:

I checked out the instructions in #682<https://github.com/01org/cc-oci-runtime/pull/682> reference

[2017-02-28 21:55] chavafg commented on #646
Haven't hit this error again, I think we can close it.

[2017-02-28 21:56] devimc commented on #646
closing issue

thanks @chavafg

[2017-02-28 21:56] #646 closed

[2017-03-01 00:47] eadamsintel commented on #687
I found that I had to edit /etc/yum.repos.d/yum.dockerproject.org_repo_main_fedora_24.repo and add in the following to the end. Can you update your instructions for that?

gpgcheck=1
gpgkey=https://yum.dockerproject.org/gpg

[2017-03-01 18:13] chavafg commented on #674
PR is https://github.com/clearcontainers/dockerfiles/pull/3

[2017-03-01 18:13] chavafg commented on #673
PR is clearcontainers/dockerfiles#3

[2017-03-01 18:37] mcastelino commented on #163
macvlan does not work today due to macaddress related issue. The macaddress on the interface cannot be moved to the VM. I will work on trying to upstream changes to CNM to allow for creation of macvlan vs macvtap interfaces based on the runtime type leveraging --network-opt based on this PR https://github.com/docker/docker/pull/27638#issuecomment-281742437

[2017-03-01 20:33] GabyCT opened #709 "Add functional tests for MTU using Swarm"
Validate the mtu interfaces using swarm

[2017-03-02 09:52] #369 closed

[2017-03-02 09:54] #693 closed

[2017-03-02 14:43] #647 closed

[2017-03-03 16:48] GabyCT commented on #664
PR was merged

[2017-03-03 16:48] #664 closed

[2017-03-03 18:42] eadamsintel opened #716 "Recommended updates to CentOS 7 instructions for CC 2.1"
1. When running the step "go get github.com/01org/cc-oci-runtime" I got the error below but that error does not matter.  There should be a note stating to ignore the error.

can't load package: package github.com/01org/cc-oci-runtime: no buildable Go source files in /root/go/src/github.com/01org/cc-oci-runtime

2.  Fix long instructions that have a \ at the end so that they work in windows and put

[2017-03-05 14:45] amsokol commented on #666
Dear jodh-intel,

I install trial VMware Workstation 12.5.
I get VM nested virtualization config here:
https://www.rickygao.com.au/blog/enable-hyper-v-under-vmware-workstation-for-your-lab/

I try Clear Linux and Clear Containers for Fedora 25.
COR runtime has failed in both cases.

Does Clear Containers supports VMware nested virtualization?

[2017-03-06 18:06] dborquez commented on #616
A test that starts and stops 10 concurrent containers for 10K times has passed Ok.
The FD leaks has not impeded the test execution.

[2017-03-06 21:28] GabyCT commented on #700
Centos 7 installation was completed

[2017-03-06 21:50] mcastelino commented on #666
@amsokol This is an issue with MSR virtualization when -cpu host is used.

/usr/src/packages/BUILD/target-i386/kvm.c:1777: kvm_put_msrs: Assertion `ret == cpu->kvm_msr_buf->nmsrs' failed

/cc @anthonyzxu

[2017-03-07 00:10] sameo opened #723 "Missing CRI-O integration tests"
Now that [CRI-O](https://github.com/kubernetes-incubator/cri-o) supports Clear Containers, we want to constantly check for that support through functional tests.

### TODO ###
- [x] CRI-O vendoring
- [x] CRI-O bats files
- [x] Integration under `tests/integration/cri-o`

[2017-03-07 09:08] jodh-intel commented on #666
Hi @amsokol - The simplest approach to get going is to install Clear Containers on a Linux host. We have installation instructions for a number of distrubutions here:

- https://github.com/01org/cc-oci-runtime/wiki/Installation

If you choose [Clear Linux on the host](https://clearlinux.org/documentation/gs_installing_clr_as_host.html), you only need to run 2 commands:

[code]

(from https://githu

[2017-03-07 16:08] GabyCT commented on #673
PR merged

[2017-03-07 16:08] #673 closed

[2017-03-07 16:09] GabyCT commented on #674
PR merged

[2017-03-07 16:09] #674 closed

[2017-03-07 16:10] GabyCT commented on #709
PR merged

[2017-03-07 16:10] #709 closed

[2017-03-07 20:29] GabyCT commented on #700
RHEL installation was completed

[2017-03-07 20:29] #700 closed

[2017-03-07 20:33] GabyCT opened #728 "Conformance tests for Swarm"
Check conformance tests for Swarm using cc-oci-runtime

[2017-03-07 20:44] GabyCT opened #729 "Add instructions for RHEL"
Add how to install cc-oci-runtime in RHEL

[2017-03-08 16:38] grahamwhaley opened #731 "Document the API and requirements of the 'mini-OS'"
The kernel and small rootfs that run in the VM to launch the workload (what is known sometimes as the 'mini-OS') has certain requirements and needs - such as supporting a hyperstart protocol on a known serial port etc., and also some base kernel config expectations (9pfs etc.).  We should document these.

[2017-03-08 16:44] grahamwhaley commented on #731
Just noting this is mildly related to #251 and @jcvenegas

[2017-03-08 17:24] gorozco1 opened #734 "Performance test of CC with qemu-2.7-lite 2.1.1+git.d7de93a"
A performance improvement in qemu-lite has ben pushed.
https://github.com/01org/qemu-lite/commit/741f430a960b5b67745670e8270db91aeb083c5f

We need to test and verify the metrics of CC with qemu-2.1.1+git.d7de93a

[2017-03-08 18:35] jcvenegas commented on #731
@grahamwhaley  I will add the mini-os reference documentation to https://github.com/clearcontainers/osbuilder  the things I have in mind:

- packages needed
- image partition layout
- describe boot sequence ( services, targets )

[2017-03-08 20:02] GabyCT opened #735 "Measure systemd memory footprint"
Measure with psstop

[2017-03-08 20:28] chavafg commented on #452
@jodh-intel, @grahamwhaley, @sameo, @devimc Is this still relevant for cc-oci-runtime, we are now releasing minor versions when there are important bug fixes.

[2017-03-08 21:55] GabyCT commented on #735
Results were sent to the mailing list

[2017-03-08 21:55] #735 closed

[2017-03-09 08:41] jodh-intel commented on #452
@chavafg - that's a good question. The release process seems to be working well without this, so I'm inclined to say let's close this issue. But let's get a quorum consensus on the idea.

[2017-03-09 09:19] grahamwhaley commented on #452
Are those tests any different from the current 'qa-passed' tests? if not, then I think we already have an implicit 'tests passed' from the 'qa-passed' that will be attached to the last PR merge before the release... As @jodh-intel says, it looks like we are already working fine without this, so I'm happy to have this closed.

[2017-03-13 16:04] dlespiau opened #739 "Rework the installation instructions to have numbered steps"
From @rcaballeromx (PR https://github.com/01org/cc-oci-runtime/issues/739):

[2017-03-13 16:11] dlespiau commented on #739
@GabyCT I've assigned this to you, hopefully you have some time to look into this across all the different installation instructions.

1. We need to merge PR https://github.com/01org/cc-oci-runtime/issues/739 and PR https://github.com/01org/cc-oci-runtime/pull/733,
2. Then rework the steps as recommended by @rcaballeromx. Don't hesitate to contact him if things are unclear.

[2017-03-13 17:17] dlespiau opened #741 "Reduce the number of steps and manual instructions in the REHL installation document"
I've counted 71 commands in the current REHL installation instructions. That's too many.

I suggest we create scripts to automate those so we can end up with a handful of steps max. The logical steps are as below:

 - Step 1: compile gcc, it's needed for qemu-lite. A script that compiles the gcc dependencies as well as gcc. Add a note that this is an optional step if one can use the Red Hat Develo

[2017-03-13 20:23] GabyCT commented on #739
@dlespiau and @sboeuf I already talked with @rcaballeromx and I will work in the installation instructions with the steps, notes, etc

[2017-03-13 20:24] GabyCT commented on #741
@dlespiau and @sboeuf I will work on this, one question in which directory should I place the script?

[2017-03-13 20:29] sboeuf commented on #741
Maybe create this in a script/ or setup/ directory.

[2017-03-13 21:12] dlespiau commented on #739
@GabyCT Excellent, thanks Gaby. PR #739 and PR #733 are now merged so I'd suggest starting with this one before #741 as it should be a quick-ish one.

I'm also linking how a few projects do install instructions for inspiration:

https://docs.docker.com/engine/getstarted/step_one/
https://kubernetes.io/docs/getting-started-guides/kubeadm/
https://ceph.com/install/

[2017-03-13 21:16] chavafg commented on #675
PR https://github.com/clearcontainers/dockerfiles/pull/2 is already merged.
This PR builds cc-oci-runtime inside a container, but it does not create .deb package. @sameo should we add the instructions to create the .deb?
I would say that if we want the .deb packages, we can take them from OBS.

[2017-03-13 21:20] GabyCT commented on #729
Closing this one as PR is merged

[2017-03-13 21:20] #729 closed

[2017-03-13 21:33] chavafg commented on #452
@grahamwhaley , yes, those are the same tests that are executed on every PR and commit to the repo.
Closing this issue.

[2017-03-13 21:33] #452 closed

[2017-03-14 03:17] chavafg commented on #734
Tests were executed and no performance degradation was found in compare to old qemu.

[2017-03-14 03:17] #734 closed

[2017-03-14 07:35] dlespiau commented on #734
@gorozco1 Just to be sure, this means our packaged qemu-lite is now including this improvement?

[2017-03-14 07:59] dlespiau commented on #687
The documentation has been merged with the instructions above and the wiki is pointing at them (not totally an optimal ToC, but it'll have to do for now). Please do re-open if another problem arises.

[2017-03-14 07:59] #687 closed

[2017-03-14 15:43] #667 closed

[2017-03-14 16:54] gorozco1 commented on #734
@dlespiau yes, this means this new qemu-lite with patch to improve heap size has been tested, measured and released.

[2017-03-14 20:00] devimc commented on #690
last release https://github.com/opencontainers/runtime-spec/releases/tag/v1.0.0-rc5

[2017-03-14 22:32] chavafg opened #746 "Test docker 1.13.1 with new hyperstart and cc-oci-runtime changes"
Let's verify if these changes solved the problems in #693, #692 and #691

[2017-03-14 22:44] chavafg opened #747 "failed to run hyper cmd killcontainer with docker 1.13.1"
Run tests  with the new changes in hyperstart and #738. Containers still get hanged when running with docker 1.13.1 and with 17.03.

These errors appear in the cc-oci-runtime.log:
[code]

[2017-03-14 22:47] chavafg commented on #747
Attaching all log:
[cc-oci-runtime.txt](https://github.com/01org/cc-oci-runtime/files/842951/cc-oci-runtime.txt)

[2017-03-14 23:00] GabyCT commented on #728
Results were sent to the mailing list

[2017-03-15 18:51] grahamwhaley opened #749 "Need to document the Go requirements for cloning and building the project"
Now we have some golang components in the project (such as the proxy), we have some requirements (such as the need to check the project out into the $GOPATH), that are not documented.

We should probably document something near here:
https://github.com/01org/cc-oci-runtime#id20

Presumably the recommended method for fetching the source tree will be `go get`, and not a direct `git clone`?

[2017-03-16 00:22] jcvenegas opened #750 "destroypod hangs"
runtime version: 2.1.1
commit id: d7de93a13edc9eddf7d6417f20a6faa3f56136dc
docker version: 1.12.6

Enviroment:
Host (virtual machine with nested virtualization enabled): Clear Linux

host | virtual machine | clear-container

Virtual Machine ( host )
RAM : 15 GB
CPUs : 1
Command to launch the VM(host):
qemu-system-x86_64 -enable-kvm -m 16384 -cpu host -drive file=13970-clear.img,if=virtio,aio=threa

[2017-03-16 00:27] sameo commented on #741
We should just point the installation instructions at something similar than:
https://github.com/clearcontainers/dockerfiles/blob/master/2.1/build/centos/README.md

[2017-03-16 06:27] dlespiau commented on #741
@sameo yes!

[2017-03-16 21:41] jcvenegas commented on #750
if we run the host (that is a VM) with more than one core, the issues goes away, so looks like something racy  in hyperstart.

[2017-03-17 15:39] grahamwhaley opened #757 "Can only launch 7 cor containers under ciao-down"
Under ciao-down (https://github.com/01org/ciao/tree/master/testutil/ciao-down), I can only launch 7 `cor` based containers, and then the 8th one errors on launch. You can see the error at the end of the attached run.log.txt file. I'm using the following script to launch:

[code]

I will note this launches containers in quick succession - but even once the script has failed I cannot launch any new

[2017-03-17 15:39] grahamwhaley commented on #757
/cc @dlespiau @devimc @mcastelino  for your attention/thoughts/input

[2017-03-17 16:02] grahamwhaley commented on #757
Ah, also adding the cc-oci-runtime.log - which is the file that actually shows the 'ga-ctl.sock' and similar errors.

[cc-oci-runtime.log.txt](https://github.com/01org/cc-oci-runtime/files/851131/cc-oci-runtime.log.txt)

[2017-03-20 09:42] grahamwhaley commented on #757
/cc @markdryan as well, as he may have ideas, or be interested in the findings.

[2017-03-20 13:41] jodh-intel commented on #757
I've run through https://github.com/01org/cc-oci-runtime/blob/master/documentation/Quickstart-Clear-Containers-in-a-Ubuntu-VM.md and I can run 50 `cc-oci-runtime` containers before I get an error from `docker`:
[code]

My Fedora 25 host system has 32G RAM, with 8G allocated to qemu.

[2017-03-20 14:10] grahamwhaley commented on #757
Thanks @jodh-intel . I just tried this with 4G of RAM, and managed to run 15 containers.
That gives me some clues. Upon failure, if I check `free`, we have just less than 2G on the host. If I then adjust hypervisor.args to allocate 1G to the qemu VM and try again I can launch 28 containers (in 4G), and the failure happens when `free` reaches just under 1G. So, I believe this may well be the proble

[2017-03-20 18:43] sboeuf opened #758 "Setup network providing MAC address instead of predicting interface name"
Now that https://github.com/clearcontainers/hyperstart/pull/11 has been merged to our hyperstart version, we can, in a more reliable way, select the network interface we want to setup inside the VM.
Indeed, instead of trying to predict the network interface name created by the hypervisor, we only have to provide to hyperstart the same MAC address we provided to the hypervisor when defining TAP int

[2017-03-20 20:55] sboeuf opened #759 "Update hyperstart package to include MAC address support"
Now that we have merged https://github.com/clearcontainers/hyperstart/pull/11, we want to rely on latest hyperstart version in CC 2.1, so that we can use the MAC address as a parameter to setup the network inside the VM. It is will be now up to the caller to decide if he wants to provide the interface name or the MAC address related to this interface. Because it can be not reliable to try to predi

[2017-03-21 19:44] sboeuf opened #760 "Telemetry crash related to cc_run_hook()"
Telemetry crash 774.
Something wrong happened after the runtime forked to do a re-exec of the OCI hook provided.

[2017-03-21 19:45] sboeuf commented on #760
@devimc I have assigned this to you as you're driving cc-oci-runtime. Feel free to assign it to someone else who could take some time to investigate this.
@dlespiau any ideas what could be the reason for such kind of failure ?

[2017-03-21 21:14] jcvenegas commented on #759
The package was update it should be ready in next clear-containers image version (14130)

[2017-03-21 21:17] sboeuf commented on #759
Thanks @jcvenegas !

[2017-03-22 00:41] mcastelino commented on #163
Exploring extending the docker libnetwork to support runtime hints.
https://github.com/docker/libnetwork/pull/1697

Also exploring extending CNI to support runtime hints
https://github.com/containernetworking/cni/pull/384

[2017-03-22 09:14] jodh-intel commented on #760
@sboeuf - Are there any associated logs to help with debugging here (docker, bats, runtime, etc)?

I'm only seeing a summary of the backtrace, which only seems tho show that a crash occurred in `cc_run_hook()`, but not exactly where nor what the inputs were.

[2017-03-22 13:05] sboeuf commented on #760
@jodh-intel I agree this is really complicated to understand the root cause. I have asked about test setup or extra logs we could use to help us, but apparently there is no such thing. Telemetry seems to report only crashes but we cannot know what was the reason for this...

[2017-03-22 15:53] #749 closed

[2017-03-22 15:58] rcaballeromx opened #763 "docs: Fix legacy markup poor practices"
In the past, documents were authored without the guidance of best practices or a style guide. As evidenced in #752 #730 and others. Both the MarkDown and ReST markup usage need to be corrected. I can provide all the information about best practices and a simple style guide for us to follow. However, I cannot fix all the documents alone.

[2017-03-22 21:42] GabyCT commented on #728
Closing this issue as an investigation was already implemented. Results sent to the mailing list

[2017-03-22 21:42] #728 closed

[2017-03-23 15:01] dlespiau commented on #759
I think all of this is now merged.

[2017-03-23 15:01] #759 closed

[2017-03-23 15:02] dlespiau commented on #758
This seems merged.

[2017-03-23 15:02] #758 closed

[2017-03-23 15:36] chavafg commented on #746
After latest changes from #753, all tests passed, except swarm, which was expected result.

[2017-03-23 15:41] dlespiau commented on #746
Excellent. Should we close this issue then?

[2017-03-23 15:51] dlespiau opened #768 "Workload should be PID 1 of its namespace inside the VM"
Currently hyperstart in PID 1 inside the workload namespace. That shouldn't be the case:

[code]

[2017-03-23 18:40] gtkramer commented on #750
Can you post the workaround you used for starting a VM with QEMU?

[2017-03-23 19:42] jcvenegas commented on #750
we tested with smp option from qemu to use 6 cpus:
smp [cpus=]n  - > -spm 6
And 8Gb for the VM:
-m 8G

[2017-03-23 20:50] egernst opened #769 "vm.json defaults don't align with installed cc defaults"
When I install clear containers via a repo such as [1], the dependent images end up going into /usr/share/clear-containers/ and the vm.json at /usr/share/defaults/cc-oci-runtime point to this accordingly.

Now, after convincing myself that I love clear containers so much that I want to move on and build it from source and run it, I go ahead to a make install and notice that the default updates to

[2017-03-23 20:58] chavafg commented on #746
Turns out that when running with containerd version 0.2.3, which is the version that comes in Fedora and Ubuntu, there are some issues while killing containers :(

[2017-03-23 21:02] chavafg commented on #746
[code]

[2017-03-23 22:13] dlespiau commented on #769
Juste a note that, actually, /usr/share/defaults/ isn't a thing outside of clear linux and if we had to package the runtime for other distros, they'd probably make us change that.

Your point still holds thought.

[2017-03-23 22:22] chavafg commented on #619
This was fixed by #752

[2017-03-23 22:22] #619 closed

[2017-03-23 22:54] GabyCT opened #772 "Support network metrics on Centos 7"
Move network scripts to be run in Centos 7

[2017-03-23 22:55] GabyCT commented on #741
Closing this issue as the script was already merged

[2017-03-23 22:55] #741 closed

[2017-03-24 08:51] jodh-intel commented on #769
Clear Linux overrides the default locations as shown here: https://github.com/clearlinux-pkgs/cc-oci-runtime/blob/master/configure

It's debatable whether these files should live below `/var/lib/` or `/usr/share/`. The Linux FHS would seem to permit both: the latter is "more correct", although the former would allow for a read-only `/usr/`.

[2017-03-24 10:52] jodh-intel opened #773 "metrics tests should ensure swap is disabled"
The metrics tests should assert that swap is disabled to ensure they are measuring RAM density only.

[2017-03-27 16:41] grahamwhaley opened #777 "tests/lib/test-common.bash not generated for metrics tests"
Presently the tests/metrics tests do not have a Makefile rule to run them, and running them using their top level script `run_docker_metrics` results in the errors:

```workload_time/docker_workload_time.sh: line 31: <path>/cc-oci-runtime/tests/metrics/workload_time/../../lib/test-common.bash: No such file or directory```

The `lib/tests-common.bash.in` file requires pre-processing before it can b

[2017-03-27 16:41] grahamwhaley commented on #777
/cc @dborquez @MarioCarrilloA for reference - @chavafg said he'll see if he can find a slot to have a look.

[2017-03-27 16:55] williammartin commented on #581
Just thought I'd add a little extra information here, hopefully doesn't muddy the waters. The Cloud Foundry Garden container team uses `runc` and orthogonally in the general case we create a bridge per container. In some of our low level tests, we have seen this panic occur.

[code]

Following the advice from here and setting `multicast_snooping` off for each bridge seems to have made the kernel p

[2017-03-28 19:58] icarus-sparry commented on #760
The only obvious call to abort() in the path including cc_run_hooks() is the one in cc_run_hook() (Presumably inlined as it is static and only has one call site).  This will be called if the system fails to execvpe the program given by hook->path.

(Failures to execvpe are usually caused by the program not being on the PATH, but can be due to missing resources. symbolic link loops, I/O errors and

[2017-03-28 20:37] #723 closed

[2017-03-28 20:44] amshinde commented on #760
There are a few crashes originating from my machine in the telemetry logs. I had changed my telemetry machine-id to a recognizable name a few days back to track any crashes. Comparing the pids in the telemetry logs to the cc-oci-runtime logs, I can say that the issue was with exec-ing the hooks, specifically :
"failed to exec hook /usr/bin/dockerd (deleted): No such file or directory"

This was ca

[2017-03-29 16:27] GabyCT opened #782 "Add network script to metrics"
Add to the tests/metrics network script for network bandwidth, jitter, multiple tcp using iperf for a local setup

[2017-03-29 16:30] mcastelino commented on #581
@williammartin than you @dlespiau @jcvenegas We should turn off multicast_snooping on our integration bridge. I will make that change and see if this problem goes away.

[2017-03-29 16:56] chavafg commented on #716
Another small change.
On section  `Install the clear containers runtime from sources`, we need to change:

[code]
with:
[code]

[2017-03-30 19:26] sboeuf commented on #760
@sameo @jodh-intel @dlespiau @grahamwhaley What do you think about that ? We can simply get rid of every abort() in the code and replace them with exit(errno) ?

[2017-04-03 08:01] jodh-intel opened #788 "Create wiki page detailing our documentation rules"
We need a page under https://github.com/01org/cc-oci-runtime/wiki that lists details on how to write consistent documentation for the project.

The page should cover such topics as:

- how to reference project names.
- how to reference command names.
- how to ensure it is clear whether a command or a project is be referred to.
- how to reference 3rd party product names.
- *et cetera*.

[2017-04-03 10:06] jodh-intel opened #789 "Handle unavailable chronic(1) command for CentOS/RHEL installation"
https://github.com/01org/cc-oci-runtime/blob/master/installation/rhel-setup.sh uses `chronic(1)`, but that command isn't available for RHEL 7 by default.

For Centos, the command can be installed as follows:

[code]

[2017-04-03 10:10] jodh-intel opened #790 "installation-setup.sh script should also handle CentOS"
https://github.com/01org/cc-oci-runtime/blob/master/installation/installation-setup.sh identifies the os distro name and contains RHEL-specific code:

[code]
However, those RHEL-specifics should also apply to Centos.

[2017-04-03 12:49] jodh-intel commented on #760
@sboeuf - yes, I agree. Additional to removing those calls, we should ensure we also call `g_critical()`, passing it `strerror(saved_errno)` before calling `exit(saved_errno)`.

[2017-04-03 14:43] GabyCT opened #791 "Iperf3 network scripts"
Add iperf3 network scripts to our current metrics

[2017-04-03 15:00] jodh-intel opened #792 "Add a autoconf variable to allow the specification of a "small" docker image"
*Lots* of files currently hardcode the docker image `busybox` as it is a very small but useful docker image.

Rather than hard-coding it everywhere we should define it in `configure.ac` to allow all files in the repo to make use of the variable.

We could also provide a `--with-small-docker-image-name=` option to `configure.ac` to allow the default to be changed. This would be useful to shake out

[2017-04-03 18:31] GabyCT commented on #782
Closing this issue as metrics with iperf2 were already merged

[2017-04-03 18:31] #782 closed

[2017-04-03 18:32] GabyCT commented on #772
Closing this issue as daily a test campaign is being triggered in Centos 7 and results being reported at pnp dashboard

[2017-04-03 18:32] #772 closed

[2017-04-03 21:34] GabyCT commented on #152
@jcvenegas are any updates about this?

[2017-04-03 21:44] jcvenegas commented on #152
@GabyCT  not so far, I did not take a look,  I think the last update is @grahamwhaley  research.

[2017-04-04 08:39] grahamwhaley commented on #152
Right, I peeked at this issue last week and thought we should be able to 'fix' it by taking the latest kernel and QEMU patchsets for the 9pfs unlink fixes. @GabyCT , if you want to develop the tests then I think you could use the ramfs tmp mount 'trick' listed early in the ticket. I'll at least open an Issue to note we need to check and probably update the 9pfs code.

[2017-04-04 12:23] jodh-intel commented on #789
I think the best approach is to simplify the script to only use `chronic(1)` if available. This has been partially done, but only for RHEL specifically (see #790).

[2017-04-05 16:03] grahamwhaley opened #795 "docker rm -f reports 'Driver devicemapper failed to remove root filesystem'"
I got the following error (when trying to run https://github.com/01org/cc-oci-runtime/blob/master/tests/metrics/density/docker_memory_usage.sh.in under https://github.com/01org/ciao/tree/master/testutil/ciao-down (which runs Ubuntu under a VM)):
``` Error response from daemon: Driver devicemapper failed to remove root filesystem 15d6062951f42e2a00206847c3846a7dbec38e31341d5640344a328515647c71: Dev

[2017-04-05 16:03] grahamwhaley commented on #795
@devimc fyi, don't know if you want to take this one or not

[2017-04-05 16:57] grahamwhaley commented on #795
Just to add some more info. re-confirmed with a clean `ciao-down` image, so that is using:
 - Docker version 1.12.1, build 23cf638
 - cc-oci-runtime version: 2.1.2 commit: 1778df4bd7660fdc72f19f2b6ef9b1451ebf12d5

[2017-04-05 19:27] GabyCT opened #796 "NGINX performance test"
Help Eric with the verification of his experiments

[2017-04-05 20:53] GabyCT commented on #791
scripts submitted

[2017-04-05 20:53] #791 closed

[2017-04-06 09:48] jodh-intel opened #797 "run popular-containers-images.bats under "make check""
https://github.com/01org/cc-oci-runtime/blob/master/tests/integration/docker_images/popular-containers-images.bats is a useful script but it is not run automatically currently as part of `make check`.

(We may want to add a configure option for to enable/disable this test since it's potentially going to take a long time to run).

[2017-04-06 10:16] grahamwhaley opened #798 "docker hello-world hangs up with -t"
Running the standard Docker hello-world example (https://hub.docker.com/_/hello-world/) with:
``` docker run -ti hello-world' ```
hangs up (run does not return).
If I then kill the run (has to be done from a separate terminal), and then try to `docker rm -f` the container that was created, that also hangs up.

This was under `ciao-down` (https://github.com/01org/ciao/tree/master/testutil/ciao-down

[2017-04-06 10:38] jodh-intel commented on #798
Hang (no output) seen under clr:

[code]
Same behaviour as @grahamwhaley - the reason the `docker rm` hangs is because the hypervisor is still running. If that is killed, the container can be deleted.

Log files attached.

Notes:

- The `cc-proxy` log was generated using `script -c "cc-proxy -v 4"`.
- The last few lines of `cor.log` were cased by my killing `cc-proxy` manually
  (the last line wri

[2017-04-06 13:26] jodh-intel commented on #763
Hi @rcaballeromx - #788 can be used to handle the style guide.

Can this issue now be closed? Our process I think now is two-pronged and should handle all eventualities:

- The doc team are now required to approve all doc-affecting PRs
- The doc team can independently raise PRs to address issues with existing documentation.

[2017-04-06 13:34] jodh-intel commented on #760
Closing as problem was fixed.

[2017-04-06 13:34] #760 closed

[2017-04-06 13:36] jodh-intel commented on #757
Any update on this?

[2017-04-06 13:37] jodh-intel commented on #750
@jcvenegas - any update? Has this issue be raised with hyperstart?

[2017-04-06 13:40] jodh-intel commented on #152
This sounds like a gnarly one to fix. But how about we downgrade to P2 given that there is a workaround of sorts?

[2017-04-06 13:45] jodh-intel commented on #532
This has been done on various PRs.

- Install instructions have been refreshed:
  https://github.com/01org/cc-oci-runtime/wiki/Installation
  (install docs now live in-tree here: https://github.com/01org/cc-oci-runtime/tree/master/documentation)

- Limitations wiki page has become: https://github.com/01org/cc-oci-runtime/wiki/Limitations-2.1.0

[2017-04-06 13:45] #532 closed

[2017-04-06 13:46] jodh-intel commented on #690
Related: #691,  #746, #747.

[2017-04-06 13:48] jodh-intel commented on #777
Hi @chavafg - any update on this?

[2017-04-06 13:54] grahamwhaley commented on #757
Good nudge. Actually, yes - let me dig up the details. Basically the kernel restricts VM overcommit by default. Disabling that lets you create containers until you run out of available memory (which may or may not be what you want...).
 The command to disable the overcommit restriction is:

```# sysctl -w vm.overcommit_memory=1```

It would be good if:
 - somehow the error messages in the logs wer

[2017-04-06 13:56] grahamwhaley commented on #152
I could agree to downgrade to P2. I'm not going to get to look at the patch upgrades in the immediate future. Worth pulling in @anthonyzxu for his thoughts in case it is a work in progress already?

[2017-04-06 13:57] devimc commented on #798
@jodh-intel  great debug information
I'll take a look
Thanks

[2017-04-06 13:58] grahamwhaley commented on #777
For reference, a workaround is to do a:
```# make check```
before running the metrics tests, as that will pre-generate the required files.
I or @MarioCarrilloA may get to look at this soon if @chavafg does not.

[2017-04-06 14:45] chavafg commented on #777
Hi, taking a look this week.

[2017-04-06 15:50] rcaballeromx commented on #763
@jodh-intel This issue is about cleaning up the existing content. The steps you describe will help us avoid making this issue larger but they sadly do not fix it. I am working on getting additional resources to perform this task. Please do not close this issue.

[2017-04-06 15:56] rcaballeromx commented on #716
@eadamsintel Can you provide me the link to the content you need me to improve?

[2017-04-06 17:56] eadamsintel commented on #716
https://github.com/01org/cc-oci-runtime/blob/master/documentation/Installing-Clear-Containers-on-Centos-7.md

[2017-04-07 16:27] devimc commented on #747
fixed in #776

[2017-04-07 16:27] #747 closed

[2017-04-07 16:27] devimc commented on #746
fixed in #776

[2017-04-07 16:27] #746 closed

[2017-04-07 16:27] devimc commented on #692
fixed in #776

[2017-04-07 16:27] #692 closed

[2017-04-07 16:27] devimc commented on #691
fixed in #776

[2017-04-07 16:27] #691 closed

[2017-04-07 19:30] devimc commented on #798
fix https://github.com/clearcontainers/hyperstart/pull/14

[2017-04-07 21:44] mcastelino opened #803 "Networking: Clear Containers allows over-ride of network parameters"
In the case of clear container we allow the over-ride of networking parameters.
example
` echo "33000 60999" > /proc/sys/net/ipv4/ip_local_port_range`

Doing this is not allowed in the case of runc containers

Docker does support tweaking via the systctl setup for namespaced properties.
https://docs.docker.com/engine/reference/commandline/run/#options

`docker run --sysctl net.ipv4.ip_forward=1 so

[2017-04-07 21:48] chavafg commented on #777
PR #804  opened to fix this.

[2017-04-10 08:35] jodh-intel opened #805 "Set VM memory in runtime rather than hypervisor.args"
`hypervisor.args` currently hard-codes the amount of memory given to the VM using these options:

[code]

We need to move this logic into the runtime to address 2 issues:

- The ability to potentially dynamically choose both the base and max memory assigned to the VM.
- The ability to support DPDK, which needs to know the amount of memory assigned to the VM.

The plan is to modify `hypervisor.args

[2017-04-10 09:56] grahamwhaley commented on #805
A note: currently the difference between the mem (2G) and maxmem (3G) is used for the nvdimm mapping space for the DAX mapped OS image. We may need to add some extra sanity check/debug information in case the user sets the mem/maxmem which make this mapping fail. My guess is currently it would be an obscure failure in QEMU, and hence hard to figure out what has been 'broken'. We should check what

[2017-04-10 15:47] chavafg opened #806 "metrics: cor_create_time.sh is currently not working"
The script tries to read from the `cc-oci-runtime.log` file, but seems that the regex it uses to look at the create and start time is not working anymore and needs to be updated.

[2017-04-10 15:55] jodh-intel commented on #806
The output of the log changed on b444105c191429d18c08452761a779107071b355: the `called as` log entry now includes the package string and the version string (commit id).

[2017-04-10 19:53] GabyCT opened #809 "nuttcp bandwidth tests"
add udp network bandwidth tests

[2017-04-10 20:22] chavafg opened #810 "cc-oci-runtime Upgrade process fails in ubuntu"
I tried to udpate from cc-oci-runtime 2.1.2 to 2.1.3, but the `cc-proxy.socket` cannot be restarted as `cc-proxy.service` is already started.

[code]

Status of `cc-proxy.socket`:

[code]

The workaround is to stop `cc-proxy.service` and run the installation again.

[2017-04-10 20:31] chavafg commented on #810
The issue also happens on Fedora:

[code]

[2017-04-11 09:40] jodh-intel opened #811 "Scripts that need root should check the uid they are running as"
The following scripts need `root` privs to run `smem`:

- `tests/metrics/density/docker_memory_usage.sh.in`
- `tests/metrics/smem_monitor.sh`

These scripts should contain a check like the following to ensure they run with the correct privs (since `smem` will silently "do what it can" if run with insufficient privs):

[code]
---
See #804 for discussion.

[2017-04-11 09:41] jodh-intel commented on #811
Alternatively, those scripts should invoke `sem` with `sudo(8)`.

[2017-04-11 10:17] grahamwhaley commented on #811
+1  I was thinking that just now.
I think the uid check is better - as some of these are run with automation, so we don't want a `sudo` hanging up for a password check or anything.

[2017-04-11 15:02] gorozco1 commented on #810
This should be fixed in c5cfcfc-80

[2017-04-11 16:27] dlespiau opened #813 "We may be able to drop cc-shim privileges to the user that has started the container"
It doesn't seem entirely trivial, but the shim doesn't have to run as root. In theory, it could drop privileges to the identity that has issued the `docker run`.

[2017-04-11 20:30] chavafg opened #815 "Failure when trying to run pod create"
There seems to be a random issue when trying to launch containers.
As example when running this test:
[code]

Looking at the logs, cc-oci-runtime fails to run `pod create `
[code]

[2017-04-11 20:45] devimc commented on #815
@sboeuf @amshinde @mcastelino
seems like MTU failed

[code]

[2017-04-11 20:50] sboeuf commented on #815
@devimc Looking at those traces, MTU seems to be set properly. Maybe an issue with the routes.

[2017-04-11 21:39] egernst opened #816 "inconsistencies in packaging of vmlinuz"
Ubuntu has vmlinuz included, whereas Fedora and Clear Linux packages do not.

For OVS-DPDK usage, or any vhost-user based connections, we need to make use of vmlinuz/bzImage.

We should make sure at the very least we are consistent on what we package between distros.

[2017-04-11 22:26] gorozco1 commented on #669
Anyone knows if this is also happening with debian based distros? what about doing apt-get install ?

[2017-04-11 22:28] gorozco1 commented on #669
@anthonyzxu do you have any update?

@all how critical is this issue?

[2017-04-12 00:46] mcastelino opened #817 "sysctl handling not implemented"
Docker supports setting namespaced kernel parameters at runtime, runc honors this. We do not honor the same and report success

[code]
[code]

[2017-04-12 01:08] mcastelino commented on #817
Note that we can actually support the setting of more kernel configuration variables with clear containers as we have an independent instance of the kernel running inside the virtual machine. However we also need to communicate that the sysctl settings for Clear Containers are not propagated from the host.

This non propagation will matter in the case of kubernetes (https://kubernetes.io/docs/conc

[2017-04-12 07:38] jodh-intel commented on #364
Related: #680.

[2017-04-12 07:57] jodh-intel commented on #815
Relates to new test introduced on #807.

[2017-04-12 08:00] jodh-intel commented on #816
It would be helpful for these kinds of issues if we could resolve #672.

[2017-04-12 08:05] jodh-intel commented on #669
I think the `P2` label is valid: it should not be possible for an arbitrary command (particularly a commonly-used one like `dnf` for Fedora) to kill the hypervisor.

It's not a `P1` for 2 reasons:

- It's still possible to create and start a Fedora container (with the caveat that you cannot run `dnf install`).
- There is a workaround for the issue.

@anthonyzxu - this issue has been open for almos

[2017-04-12 08:37] grahamwhaley commented on #816
Hi @egernst - fmi, could you clarify a little why we need to make use of vmlinuz/bzImage for vhost-user cases - what is the key technical difference here?

[2017-04-12 10:37] grahamwhaley opened #818 "Docker not auto-started on Centos after CC install script"
After following #799 in a Centos VM running under QEMU, after a reboot of the VM it looks like docker is not automatically started. A `sudo systemctl start docker` fixes it.
We should probably look at enabling docker by default.

[2017-04-12 10:42] dlespiau commented on #818
I can see argued that it may be beyond the scope of what an installer script should do and up to the system administrator.

[2017-04-12 10:47] grahamwhaley commented on #818
Agreed - I can see this as 'borderline'. At a minimum we may wish to mention it in the install instructions docs, as a reboot results in a non-functional docker, which our script installed.
I presume the standard Centos docker install does not enable itself by default, and it is not something we have done or disabled in the script for instance - in which case I'd be happy with us just documenting

[2017-04-12 12:42] devimc commented on #798
fixed clear container image 14590

[2017-04-12 12:42] #798 closed

[2017-04-12 13:46] egernst commented on #816
@grahamwhaley -- Several issues were identified with our existing clear
    container setup and OVS-DPDK.
    -EFI BIOS does not suppot nvdimm
    -pc-lite has multiple bugs and leaks vhost-user memory (appears
    that KVM does not release it).
    -pc-lite does not shutdown with vhost-user.

    Because of this, moving to use pc platform and legacy BIOS.

[2017-04-12 14:18] grahamwhaley commented on #816
Thanks. To clarify (fmi) - only the QEMU pc-lite model can load kernel ELF images (a Clear Containers optimisation), and currently for OVS-DPDK we need to use a different QEMU pc model both for some extra features and to avoid some issues. Thus, we need a non-ELF kernel image to use with that non-pc-lite QEMU. Thanks @egernst

[2017-04-12 16:06] amshinde commented on #815
From the logs, looks like there was a failure in getting the index of the eth0 device the second time :
"failed to get the ifindix of eth0".
Will take a look at why this is happening.

[2017-04-12 20:00] GabyCT commented on #796
results sent

[2017-04-12 20:00] #796 closed

[2017-04-12 20:00] GabyCT opened #824 "Add ab benchmark with nginx"
Add metrics script

[2017-04-17 16:10] chavafg opened #827 "Test cc-oci-runtime 2.1.4 OBS packages"
New release 2.1.4 is being packaged in OBS, so test is needed to see that everything works correctly.

[2017-04-17 16:13] chavafg commented on #456
Now that we have releases every week, we should find a way of testing the OBS packages in an automated way. Will take a look this week.

[2017-04-17 17:04] gorozco1 commented on #816
vmlinuz/bzImage is now included in cc-oci-runtime >=2.3... Progress has been made on #672 to get the automation tooling to create obs packages automatically.

[2017-04-17 17:21] devimc opened #828 "synchronization bug (create -> start -> kill)"
running container with runc
[code]
the status of all container will be ```Exited (15)```

but using cor
[code]
the status of some containers will be 0

[2017-04-17 18:02] #810 closed

[2017-04-18 03:08] chavafg commented on #827
Tested packages for Fedora 25 and Ubuntu 16.10.
The update process completed successfully and the tests passed.
This was also tested with new packaged image 14590

[2017-04-18 03:08] #827 closed

[2017-04-19 18:40] amshinde commented on #643
This has been merged,

[2017-04-19 18:40] #643 closed

[2017-04-19 18:41] amshinde commented on #374
Merged in 3.0

[2017-04-19 18:41] #374 closed

[2017-04-20 11:09] #789 closed

[2017-04-20 11:09] #790 closed

[2017-04-20 14:33] chavafg commented on #777
This is now merged, so closing this issue.

[2017-04-20 14:33] #777 closed

[2017-04-20 22:52] amshinde commented on #815
We introduced a change in hyperstart to get the interface name based on the mac address(hyper_get_iface_name_from_mac_addr). But we do this before the wait_for_nic(ifname) call we had implemented earlier, essentially causing to not wait at all. So, sometimes the  earlier function returns "eth0" address instead of the usual pci based address ("enp0s4").

I added an explicit call to wait_for_nic("en

[2017-04-20 22:52] amshinde commented on #815
@mcastelino @sameo @sboeuf ^

[2017-04-21 00:01] dlespiau commented on #768
re-opening. I think that was closed by github automatically with the Fixes tag, but we want to close this when the hyperstart with the fix is in an image we use.

[2017-04-21 07:26] #815 closed

[2017-04-21 13:48] #690 closed

[2017-04-21 16:01] GabyCT commented on #578
closing this issue as this was already solved with PRs #831 and #825 and the tests are already unskipped  (047fd21).

[2017-04-21 16:01] #578 closed

[2017-04-21 16:04] GabyCT commented on #824
closing this issue as this test is already part of metrics/network

[2017-04-21 16:04] #824 closed

[2017-04-21 17:29] jcvenegas opened #834 "add filesystem test"
We rely on 9pfs for filesystem operations, we should add a test to know how healthy is the filesystem and avoid regressions ( eg  qemu updates)

[2017-04-21 17:34] amshinde commented on #644
Merged.

[2017-04-21 17:34] #644 closed

[2017-04-21 17:37] grahamwhaley commented on #834
@jtkukunas - do you happen to know if there is a comprehensive Linux/POSIX filesystem test suite we could run - I have a feeling there is one that is used for kernel fs development, but don't know if off the top of my head. If not, I'll go track down some details.

[2017-04-21 20:56] mcastelino opened #836 "cc-shim: cc-shim is not namespaced"
cc-shim is not namespaced to match the process that it represents. This results in inconsistencies when trying to use the PID reported by docker to examine the process.

[code]
Will result in incorrect information.

We should place the cc shim in the proper namespaces. Additionally we should document this limitation until we fix this issue.

[2017-04-21 22:11] chavafg opened #837 "hyperstart failures when running cc-oci-runtime on Ubuntu"
On ubuntu 16.04, I cannot run docker + COR containers. The strange thing is that the issue is not reproduced on Fedora.
I am using clear-containers image 14700 and docker 1.12.1

This are the logs from cc-oci-runtime.log:

[code]

[2017-04-21 22:19] amshinde commented on #837
@chavafg Can you confirm that you are using the latest kernel version 4.9.4-57

[2017-04-21 22:21] chavafg commented on #837
@amshinde yes I am using 4.9.4-57

[2017-04-24 08:34] jodh-intel commented on #837
Looks like this is related to #825.

[2017-04-24 14:31] GabyCT opened #838 "CPU % consumption for network"
Measure cpu % consumption when iperf is running

[2017-04-24 14:43] grahamwhaley commented on #838
Hi @GabyCT If there is anything specific we are looking for or expecting to see, or we have plans on what we compare against etc., can you please add them to the ticket (and future tickets) - it helps everybody else understand where we are heading, and will help if somebody else has to pick the issue up for whatever reason.

thanks.

[2017-04-24 14:46] GabyCT commented on #838
@grahamwhaley sure, in this case we will measure the cpu % consumption when we have a server and a client (running iperf - bandwidth measurement) using ps.

[2017-04-24 14:49] GabyCT commented on #838
@grahamwhaley with the help of ps we will obtain the cpu % of the processes of qemu while running a network measurement

[2017-04-24 16:51] amshinde commented on #837
We had a set of  kernel modules enabled for iptables that were not sufficient for enabling the port forwarding rules in Swarm mode. So I enabled a module to support that. I had tested this in Clear to see if Docker sets any rules in non-Swarm mode and it did not. But looks like in Ubuntu, Docker sets up default rules which include certain tables(nat, mangle) for which there are'nt sufficient modul

[2017-04-24 16:51] amshinde commented on #837
@mcastelino What do you think?

[2017-04-24 19:25] mcastelino commented on #837
@amshinde we should enable all potential modules in the clear containers kernel which are typically enabled on the distro's on which clear containers runs. This will allow a single kernel image to be used on all distro's.

Longer term if this is perceived as an issue we can provide distro specific clear containers kernels.

[2017-04-24 20:50] amshinde commented on #837
@mcastelino The issue in Ubuntu is solved by enabling support for mangle and raw tables (CONFIG_IP_NF_MANGLE and CONFIG_IP_NF_RAW). This results in a very small increase in the kernel size(<1kb)

to make sure we can handle any iptable rule, I can enable all the kernel modules in ubuntu/fedora(enabled or marked as a module), these do seem to be quite a lot. I'll build the kernel and post my results

[2017-04-25 08:47] grahamwhaley commented on #837
Just a note - for clarity - we should be talking about 'drivers' here, not 'modules' - same code, different method of building (static or dynamic linked). We don't have any modules or module loading enabled in our container kernel at present I believe - it is a single fully statically linked kernel.
@amshinde - thanks for the size increase info - that indeed is pretty small :-)

[2017-04-25 15:40] GabyCT commented on #739
closing this issue as the PR is already merged

[2017-04-25 15:40] #739 closed

[2017-04-25 16:35] GabyCT commented on #809
closing this as the PR is already merged

[2017-04-25 16:35] #809 closed

[2017-04-25 19:20] GabyCT opened #844 "Make check not working on Centos 7.0"
If you run make check on centos 7.0, you will receive the following error

]# make check
  GOBUILD  cc-proxy
  GEN      data/vm.json
  GEN      proxy/cc-proxy.service
  GEN      proxy/cc-proxy.socket
make
make[1]: Entering directory `/root/go/src/github.com/01org/cc-oci-runtime'
make  all-am
make[2]: Entering directory `/root/go/src/github.com/01org/cc-oci-runtime'
make[2]: Leaving directory `/roo

[2017-04-25 20:00] devimc commented on #844
/cc @chavafg

[2017-04-25 22:07] gorozco1 commented on #844
@devimc This due a missing dependencies to run crio-tests right?

[2017-04-25 23:02] chavafg commented on #844
seems like `bats` is not installed, will try to reproduce tomorrow

[2017-04-26 00:26] amshinde commented on #581
This issue may be related to : https://www.spinics.net/lists/netdev/msg431717.html

[2017-04-26 00:41] amshinde commented on #837
@chavafg I have a new version of kernel built  4.9.4-58. Should be part of the next release. Can you test with that kernel version.

[2017-04-26 08:06] jodh-intel opened #847 "Improve Release Process using task lists"
# Idea

If we were to convert https://github.com/01org/cc-oci-runtime/wiki/Release-Process into a task list...

- [ ] Do release task 1.
- [ ] Do release task 2.
    `:`
    `:`
- [ ] Do release task *n*.

... our pre-Release Process would be improved.

# Proposed pre-Release process

The steps taken before we started working through the release process could then become:

1. Raise an issue to han

[2017-04-26 08:53] grahamwhaley commented on #847
I'm.... definitely not against it :-)  Personally, if it were me I'd find the ticklist useful - without it I'd probably physically print out a copy and tick things off with a pencil otherwise :-)
I think we had some feedback previously that 'a list or ticklist is the same thing' - but, I disagree - I like the idea of being able to 'tick' things off.
I felt slightly wary of the 'create an Issue ste

[2017-04-26 12:23] devimc commented on #847
lgtm

[2017-04-26 13:19] chavafg commented on #837
@amshinde, sure.
I'll run the tests with this new kernel and post my results.

[2017-04-26 14:33] GabyCT commented on #844
@chavafg , bats is installed

$ bats --version
Bats 0.4.0

--- PASS: TestAllocateIo (0.02s)
PASS
ok      github.com/01org/cc-oci-runtime/proxy   1.058s
  GEN      tests/lib/test-common.bash
make: t: Command not found
make: [docker-tests] Error 127 (ignored)
  GEN      tests/lib/test-crio.bats
timeout: failed to run command ‘-t’: No such file or directory
make: *** [crio-tests] Error 127

[2017-04-26 14:52] chavafg commented on #837
Tested on `Fedora 25` and `Ubuntu 16.10`, with the next kernel and image:
[code]

All tests ran successfully.

[2017-04-26 15:31] devimc commented on #847
I've just updated the [Release Process page](https://github.com/01org/cc-oci-runtime/wiki/Release-Process)

[2017-04-26 15:37] jodh-intel commented on #847
This lgtm - courtesy of @devimc we now have a neat https://github.com/01org/cc-oci-runtime/wiki/Release-Checklist page that we can copy/paste into an issue.

@sameo, @dlespiau - any comments on this? Feel free to tick the appropriate box above :smile:

[2017-04-26 16:15] GabyCT opened #848 "Add dockerfiles for the gabyct/network docker network image"
Add dockerfile for the image that is using the network metrics

[2017-04-26 16:18] jodh-intel commented on #848
Related to #843.

[2017-04-26 19:01] dlespiau commented on #847
Sounds OK to me. I do want to note though that's instead of a check list, the ideal would be to encode that checklist into a script to run.

[2017-04-26 21:06] GabyCT opened #850 "docker: Error response from daemon: shim error: open pid: no such file or directory on Centos"
It is not possible to run cc on centos 7.0, as I have the following error
$ docker run -ti fedora bash
docker: Error response from daemon: shim error: open pid: no such file or directory.
Currently I am using the following
clear-containers.img -> clear-14700-containers.img
vmlinux.container -> vmlinux-4.9.4-58.container
Docker version 17.04.0-ce, build 4845c56
cc-oci-runtime version: 2.1.5
spec ve

[2017-04-26 22:35] amshinde commented on #850
While I had added support for all the iptable targets and matches in ubuntu and fedora, configs required for "security" table were not added. (CONFIG_IP_NF_SECURITY: https://lwn.net/Articles/267140/).
This table is used for Mandatory Access Control networking rules. (eg Selinux)
We do not have any support for  security model in the kernel. Will the dependencies not enabled, we are not able to add

[2017-04-26 22:54] mcastelino commented on #850
@amshinde Let us add the additional netfilter modules. But we should run a few more tests to ensure iptables-save/restore works consistently when the restore is performed on a kernel with more features. (i.e. it does not result in any default deny behavior)

[2017-04-27 01:02] amshinde commented on #850
@mcastelino Sure, I'll do that. I have also done a comprehensive comparison of the all available netfilter kernel config options with the one's we have in our kernel today. Will post results.
@GabyCT I have built a new kernel, can you test with the latest version of kernel in our build system on all the distributions we support.

[2017-04-27 08:23] jodh-intel commented on #848
The  custom `gabyct/network` docker image is used by:

- `tests/metrics/network/network-metrics.sh`
- `tests/metrics/network/network-metrics-iperf3.sh`

And soon to also be used by:

- `tests/metrics/network/network-metrics-cpu-consumption.sh.in` (#843).

[2017-04-27 08:31] jodh-intel opened #851 "Automate release checklist tasks"
Ideally, we'd have a script that could run the steps listed on the wiki here:

- https://github.com/01org/cc-oci-runtime/wiki/Release-Checklist

We're getting close to being able to automatically handle the OBS aspects (#672), which then leaves us with the question of whether we can automate the generation of the release notes.

[2017-04-27 08:31] jodh-intel commented on #847
@dlespiau - +1 for automation in the future. I've raised #851 to capture that.

[2017-04-27 08:39] dlespiau commented on #851
We can at least generate the list of fixed bugs by:

1.  parsing `git log` and looking for `Fixes:` tags.
2. query the list of issues fixed between 2 dates. The latter is more exhaustive if we forget to put `Fixes:` tags and will have false positives (issues we have closed but not fixed).

I'd vote for 1. and have everyone reminded about those Fixes: tags.

[2017-04-27 09:05] jodh-intel opened #852 "Build all packages with best practise security option"
The following commits improved the build options for the runtime:

- a76a2f54c74709ec7a02cbb48a0b57dff631e614
- df38461c29624600b621e9117729ca8d79c872a0
- 7815d4f464a8b212c8f2a24f97237ab7cf7860d4

... but our install scripts also build other packages which have not had these flags applied:

- https://github.com/01org/cc-oci-runtime/blob/master/installation/rhel-setup.sh
- https://github.com/01org/

[2017-04-27 09:24] jodh-intel commented on #851
Agreed. I think as reviewers we should consider start requiring atleast one `Fixes #` in the commit messages.

[2017-04-27 09:24] jodh-intel commented on #851
@grahamwhaley, @sameo - what do you think? Should we require every PR to be coupled with an issue along with a `Fixes #` comment?

[2017-04-27 09:29] grahamwhaley commented on #851
My thought was that, sure, auto-grabbing and filtering for 'fixes' and similar is good and fine - but, I also expect something will always slip through the net. I expect a final stage in the release process will always have to be a visual sanity check and xref to ensure the auto generated notes container all the right things (and none of the 'wrong things'). Automation good - but I don't think we

[2017-04-27 09:39] jodh-intel commented on #851
absolutely +1.

[2017-04-27 11:25] dlespiau commented on #852
![](https://github.trello.services/images/mini-trello-icon.png) [x/arch/x86/x86asm: 64-bit CMOV is disassembled as 32-bit CMOV](https://trello.com/c/5YVU2Lvb/6-x-arch-x86-x86asm-64-bit-cmov-is-disassembled-as-32-bit-cmov)

[2017-04-27 13:09] devimc commented on #451
Fixed, release process was updated https://github.com/01org/cc-oci-runtime/wiki/Release-Process

[2017-04-27 13:09] #451 closed

[2017-04-27 13:19] devimc commented on #844
@gorozco1 I think so, but not sure
@GabyCT  could you run next command and try again
[code]

[2017-04-27 13:32] jodh-intel commented on #847
Related: #451.

[2017-04-27 13:32] devimc commented on #851
[code]
agree, we can't trust

[2017-04-27 13:35] devimc commented on #836
cc-shim is part of the memory cgroup but yes we have to add it to a namespace
adding this limitation to release notes
thanks

[2017-04-27 13:41] devimc commented on #795
@grahamwhaley  does this issue only occurs in ```ciao-down```?  if so could you report it to ```ciao-down``` maintainers ?

[2017-04-27 13:45] dlespiau commented on #836
question: is it time to put these bugs/feature request as 3.0 items?

[2017-04-27 13:50] devimc commented on #836
@dlespiau I think so, what do you think @mcastelino ?

[2017-04-27 14:42] grahamwhaley commented on #795
@devimc good question - I dunno - but I should be in a position to try it out I think. I'll give it a try and get back here...

[2017-04-27 14:51] grahamwhaley commented on #795
@devimc And let me set my Clear Linux box up for devicemapper (if I can), as it is using overlay, so of course that worked....

[2017-04-27 15:04] GabyCT commented on #850
@amshinde and @mcastelino it works using the latest version of kernel
vmlinux.container -> vmlinux-4.9.24-60.container

[2017-04-27 15:28] GabyCT commented on #838
closing this issue as the PR is already merged

[2017-04-27 15:28] #838 closed

[2017-04-27 15:52] grahamwhaley commented on #795
H @devimc Looks like I reproduced this on Clear Linux 14740 with cc-oci-runtime v2.1.1 by setting the `--storage-driver=devicemapper` in the systemd docker file (away from the Clear Linux default of overlay).

[2017-04-27 16:05] GabyCT commented on #844
@devimc, I did the installation
$ yum install -y   btrfs-progs-devel   device-mapper-devel   glib2-devel   glibc-devel   glibc-static   gpgme-devel   libassuan-devel   libgpg-error-devel   libseccomp-devel   libselinux-devel   pkgconfig   runc

However, it is not working
--- PASS: TestAllocateIo (0.00s)
PASS
ok      github.com/01org/cc-oci-runtime/proxy   1.034s
make: t: Command not found
make: [d

[2017-04-27 16:31] devimc commented on #795
@grahamwhaley thanks, I'm going to dig on this issue

[2017-04-27 16:35] gorozco1 opened #853 "Centralize options to build Clear Containers components"
We already have https://github.com/01org/cc-oci-runtime/blob/master/installation/installation-setup.sh which specifies the set of options to use to build qemu-lite. Ideally, we'd have a single source for these options as both debian.rules and qemu-lite.spec are also specifying these values. I don't think it's important for other packages (including the runtime), but for qemu-lite, we are much more

[2017-04-27 17:37] mcastelino opened #854 "docker swarm: dns resolution fails"
When running Clear Container based containers in a docker swarm, DNS resolution does not work both for internal and external DNS when the DNS resolution is performed from *within* the Clear Container.

This is due to the way the DNS resolution is implemented within docker swarm.

# DNS Resolution in Swarm

All docker swarm containers have the DNS resolver set to 127.0.0.11:53

Docker swarm has an

[2017-04-27 17:56] mcastelino commented on #854
@devimc We need to add this to our release notes.

[2017-04-27 18:49] devimc commented on #854
great! thanks @mcastelino and nice description

[2017-04-27 20:46] GabyCT commented on #850
@amshinde it is also working on RHEL 7.3

[2017-04-27 21:32] jcvenegas commented on #252
Osbuilders scripts allow to create an image https://github.com/clearcontainers/osbuilder

[2017-04-27 21:32] #252 closed

[2017-04-27 21:35] jcvenegas commented on #702
I think is fixed now ? @gorozco1  any update on this ?

[2017-04-27 21:38] jcvenegas commented on #816
@gorozco1  can we close this one ?

[2017-04-27 21:49] jcvenegas commented on #512
@sameo can we close thise one ?

[2017-04-27 21:49] jcvenegas commented on #511
@sameo can we close this one ?

[2017-04-27 21:50] jcvenegas commented on #251
osbuilder scripts allow to build a kernel with clear-containers configuration

[2017-04-27 21:50] #251 closed

[2017-04-27 21:52] jcvenegas commented on #307
@devimc can we close this one?

[2017-04-27 22:10] jcvenegas commented on #850
@GabyCT  can we close this issue now ?

[2017-04-28 07:41] jodh-intel commented on #307
I'm happy for us to close this, but what's youre view @grahamwhaley?

[2017-04-28 08:25] sameo commented on #851
As we enter into a more stable phase for COR, we do want PRs to be coupled with at least one issue. So I agree we should enforce the `Fixes` tag in PRs. We could even have pullapprove verify that for us.

[2017-04-28 08:30] jodh-intel opened #856 "Require all PRs to include a "Fixes #XXX" comment"
Our contribution guidelines currently say that you can add a `Fixes #XXX` comment to auto-close the associated issue:

- https://github.com/01org/cc-oci-runtime/blob/master/CONTRIBUTING.md

 However, we're finding that stale issues are remaining open, so it makes sense to require such a comment for all PRs.

[2017-04-28 08:39] grahamwhaley commented on #307
This has is indeed too general, and has been superseded by https://github.com/orgs/clearcontainers/projects/2 and all the Issues associated there, so I'm happy to close this one.

[2017-04-28 08:39] #307 closed

[2017-04-28 09:03] jodh-intel commented on #856
I've raised an issue on Pullapprove as it would be neat to have this requirement handled automatically: https://github.com/pullapprove/support/issues/110

[2017-04-28 09:15] grahamwhaley opened #857 "md file hotlinks are not rendering correctly"
It looks like the hotlinks in our markdown files may not be rendering correctly - possibly there has been a change on the github side that has caused this?
For instance, see the CONTRIBUTING.md file at the top level
https://github.com/01org/cc-oci-runtime/blob/master/CONTRIBUTING.md
where you can see links showing (in the cooked view) as:
[code]
where the (xxx) part should not be rendered at all,

[2017-04-28 09:33] jodh-intel commented on #851
I've raised #856 to update our contribution guidelines. See the same issue for details of pullapprove.

[2017-04-28 09:35] jodh-intel commented on #857
We probably want to raise this on github itself?

[2017-04-28 09:42] dlespiau commented on #857
There's a space between `]` and `(`!

[2017-04-28 11:24] grahamwhaley commented on #857
Good spot! - let me fix that (and then see if we have others elsewhere as well)

[2017-04-28 11:48] grahamwhaley commented on #857
For ref - the only other instance a grep turned up was here:
https://github.com/01org/cc-oci-runtime/blob/master/documentation/Installing-Clear-Containers-on-Fedora-25.md#increase-limits-optional

[2017-04-28 13:48] #857 closed

[2017-04-28 14:34] #850 closed

[2017-04-28 16:35] #856 closed

[2017-04-28 17:04] GabyCT opened #861 "Add metric to measure memory PSS and RSS with network"
Use smem to measure pss and rss when a network bandwidth test is running

[2017-04-28 20:05] jcvenegas opened #863 "Release 2.1.6"
- [ ] Test the HEAD commit of the master branch using the tests included in the source code within the ```tests/``` directory.
- [X] Run Coverity Scan on HEAD commit and ensure no medium or high severity issues are reported.
- [ ] Tag and release as a release candidate the HEAD commit of the master.
- [x] Update ```versions.txt``` with package versions used by the release.
- [ ] Generate OBS packa

[2017-04-28 20:38] devimc commented on #863
for this release we are not tagging a release candidate

[2017-04-28 20:45] #863 closed

[2017-05-02 15:32] GabyCT opened #866 "Add metric to measure latency"
use ping as a tool

[2017-05-02 21:53] jcvenegas commented on #837
@amshinde  @chavafg closing this issue now

[2017-05-02 22:33] #837 closed

[2017-05-03 04:23] jcvenegas opened #868 "Test latest release with docker HEAD to detect issues with new versions"
We need to automate a way to detect  issues with new docker ( and crio ? ) versions. Runn it to compare results with its official runtime could help to know if there are some compatibility issues.

[2017-05-03 04:44] jcvenegas commented on #338
can we close this issue?

[2017-05-03 08:12] jodh-intel commented on #338
Hi @jcvenegas - it's still a problem as shown above if you specify `--with-gcov=lcov`.

[2017-05-03 08:34] jodh-intel commented on #848
Hi @GabyCT - any update on this?

[2017-05-03 10:33] #581 closed

[2017-05-03 14:18] GabyCT commented on #848
@jodh-intel, I need some time to do this...kind of busy these days

[2017-05-03 14:25] jodh-intel opened #869 "Update installation doc for Clear Linux now there is only a single docker service file"
Clr Linux now uses only a single `docker.service` file (before it used two to handle either a `runc` runtime or a `cc-oci-runtime` one).

This file needs to be updated to reflect this change:

- https://github.com/01org/cc-oci-runtime/blob/master/documentation/Installing-Clear-Containers-on-ClearLinux.md

We also need to update the wiki here:

- https://github.com/01org/cc-oci-runtime/wiki/Debuggi

[2017-05-03 16:12] #757 closed

[2017-05-03 16:18] #512 closed

[2017-05-03 16:21] jcvenegas commented on #868
Docker Enterprise ?

[2017-05-03 16:43] #368 closed

[2017-05-03 17:30] grahamwhaley commented on #795
Query was 'does this happen with runc and devicemapper' - I will check...

[2017-05-04 08:53] jodh-intel opened #872 "Create CI pre-checks script to check git commits"
Create a script that performs basic checks on the new commits to be merged.

Script can check for things like a `Fixes #XXX` tag, subsystem in title, *etc*.

Script will be called as part of the CI workflow crucially before any setup/build/tests run.

See #856.

[2017-05-04 14:25] GabyCT opened #874 "PSS memory @ particular load level"
Add a PSS memory metric fro particular load lever using ps (this is related with #865)

[2017-05-04 14:33] GabyCT commented on #861
closing this one as pr is already merged

[2017-05-04 14:33] #861 closed

[2017-05-04 18:58] grahamwhaley commented on #320
A quick update. It was mentioned in a call that this might be an 'ENV' issue and that we fixed that - I re-tested, and it still fails with my code (v2.1.6). Looking again at the errors from arrango, I'm fairly sure this might be a 9pfs related mmap issue. Looking briefly at the kernel 9p code, there is a lot of mmap code in there, but it is not clear to me if this is host or client side, and it lo

[2017-05-04 19:05] grahamwhaley commented on #795
Update. Tested with Docker 1.2.1, CC 2.1.4 where the problem can be seen with --runtime=cor, and it does not happen with --runtime=runc.

[2017-05-04 19:34] grahamwhaley opened #875 "Make it easier to install autoconf-archive m4 macros"
Now we have removed the m4 macros we had extracted from the autoconf-archive, and rely on either the host system having them pre-installed or for an installation script to install them by hand if necessary (such as seen here https://github.com/01org/cc-oci-runtime/blob/master/installation/rhel-setup.sh#L161), there are times during development when you'd just like to do that curl hand install 'by

[2017-05-05 00:29] amshinde opened #877 "Pass debug flag to the shim when the runtime is invoked with --debug"
We should be able to see debug logs from the shim as well, when the runtime in invoked with --debug option.

[2017-05-05 10:13] grahamwhaley opened #879 "Improve robustness of PSS footprint metrics test"
If, for any reason, the metrics PSS footprint test fails to find the PSS for any of the items, it continues to 'do the math', and generates a results file with a now incorrect result. Improve the script so it traps on the failure to find the PSS.

[2017-05-05 15:51] #877 closed

[2017-05-05 16:18] jcvenegas opened #881 "Release 2.1.7"
*NOTE: Not creating rc commit before release,  we need to have automatic packages build otherwise the release will take a lot of time.*

- [x] Test the HEAD commit of the master branch using the tests included in the source code within the ```tests/``` directory.
- [x] Run Coverity Scan on HEAD commit and ensure no medium or high severity issues are reported.
- [x] Update ```versions.txt``` with p

[2017-05-05 17:29] jcvenegas opened #882 "Travis CI fails when master is tested"
When ci build is not a PR should not check for 'Fixes' message

[2017-05-05 19:31] #882 closed

[2017-05-05 19:59] #881 closed

[2017-05-05 20:25] GabyCT commented on #795
@grahamwhaley and @jcvenegas , I also noticed this issue
Error response from daemon: Driver devicemapper failed to remove root filesystem ba63c5a01d9aac3e4b9371a81455dd041ae6fb2763f66e7bf230ced30a31ae4e: failed to remove device 85bfa90b9e766e6c8b6f0892fa03a45d4e233c166438718e6df23bbb6d29e0b8: Device is Busy

the configuration that I have is the following
cc-oci-runtime version: 2.1.5
spec version:

[2017-05-05 20:29] GabyCT commented on #795
May 05 08:23:38 localhost.localdomain dockerd[8666]: time="2017-05-05T08:23:38.188935544-04:00" level=debug msg="devmapper: DeleteDevice START(hash=a5529ebd17e292dfb629be5e01c25893e81c7ef35084772cba457a1c0e8062d9 syncDelete=false)"
May 05 08:23:38 localhost.localdomain dockerd[8666]: time="2017-05-05T08:23:38.188954805-04:00" level=debug msg="devmapper: issueDiscard START(device: a5529ebd17e292dfb

[2017-05-05 22:20] mcastelino opened #887 "cc-oci-runtime: Does not compile on FC24"
./autogen.sh
configure.ac:43: error: Please install autoconf-archive version ${autoconf_archive_version}
configure.ac:38: MACRO_CHECK is expanded from...
configure.ac:43: the top level
autom4te: /usr/bin/m4 failed with exit status: 1
aclocal: error: echo failed with exit status: 1
autoreconf: aclocal failed with exit status: 1

[2017-05-05 22:21] mcastelino commented on #887
And also on Ubuntu

DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=16.04
DISTRIB_CODENAME=xenial
DISTRIB_DESCRIPTION="Ubuntu 16.04.2 LTS"

./autogen.sh
configure.ac:43: error: Please install autoconf-archive version ${autoconf_archive_version}
configure.ac:38: MACRO_CHECK is expanded from...
configure.ac:43: the top level
autom4te: /usr/bin/m4 failed with exit status: 1
aclocal: error: echo failed with exit st

[2017-05-05 22:28] sameo commented on #887
Same issue on FC25

[2017-05-05 22:33] amshinde commented on #887
Related to commit:
https://github.com/01org/cc-oci-runtime/pull/841/files#diff-bcae78d96781b13bf09dc35547ac038cR30

[2017-05-05 22:53] egernst commented on #769
Just following up because this got me again.

While it may not be a bug, per se, I think this should be handled in a way that's a bit more kind to users/developers.   How're developers expected to handle this?  Since what the make install updates into vm.json is incorrect (on some distros, at the very least), can we instead of overwriting the installed vm.jsons's path, copy and reuse it?

Ie, make

[2017-05-06 03:11] gorozco1 commented on #887
@mcastelino @sameo This is due: https://github.com/01org/cc-oci-runtime#dependencies
introduced a new requirement: `autoconf-archive - version 2017.03.21 or above`
It can be solved in latest releases of ubuntu and fedora (Ubuntu 17.04 and Fedora 25) installing autoconf-archive.

However older releases cannot fulfil the requirement.

[2017-05-06 04:17] gorozco1 opened #888 "Create autoconf-archive 2017.03.21 on older distros"
cc-oci-runtime 2.1.6 introduced a new dependency `autoconf-archive 2017.03.21`

That package with that specific version is only available in latest distros:

- Ubuntu 17.04
- Fedora 25

We need to provide that package in [OBS](https://build.opensuse.org)  to build `cc-oci-runtime` packages for older distros:

- Ubuntu 16.04
- Ubuntu 16.10
- Fedora 24

[2017-05-06 04:20] gorozco1 commented on #888
autoconf-archive.2017.03.21 for F24, CentOS7 and RHEL successfully created.

https://build.opensuse.org/package/show/home:clearlinux:preview:clear-containers-staging/autoconf-archive

Debian based packages in progress.

[2017-05-06 04:42] gorozco1 commented on #887
Related to #888 and fixed for F24

[2017-05-06 07:40] dlespiau commented on #769
It's still somewhat of a bug I think. We need to decide where those files belong and be consistent across the board.

[2017-05-06 10:01] grahamwhaley commented on #872
Re-opening due to: https://github.com/01org/cc-oci-runtime/pull/883
Let's discuss where we go from here...

[2017-05-06 10:08] dlespiau commented on #872
Question: do we really need to enforce line length on commit messages? In the general case, I can see pasting backtraces and logs in commit messages failing that test, but it that a problem?

The fixes check seems useful on stable branches though.

Something I noted is that these kind of things could benefit from unit testing with a variety input commit messages. Not necessarily suggesting we go f

[2017-05-06 10:12] grahamwhaley commented on #887
Also related to https://github.com/01org/cc-oci-runtime/issues/875 where I posted an interim helper-fix for developers https://github.com/01org/cc-oci-runtime/pull/876

[2017-05-06 10:16] dlespiau commented on #875
What about making installing that new build dependency as part of autogen.sh? that's the script supposed to bootstrap the build system after all.

[2017-05-06 10:19] dlespiau commented on #887
It would be better if, to build the project, we don't have to ask people to install a package from a repo that is not part of the usual distro repositories. That's yet another hurdle to go through and we already have enough of them I'm afraid.

[2017-05-06 10:27] grahamwhaley commented on #872
I agree, the line length check is probably not going to work for pasted items etc. - and, it's going to be pretty hard to get the script to recognise what is hand typed and what is pasted.
Really really really I'd like the script to be able to issue a `Warning` rather than fail the CI. I don't believe there is a native way to post some sort of warning to github, but we could get the script to inje

[2017-05-07 21:27] gorozco1 commented on #887
@dlespiau this is only to build  `cc-oci-runtime` not for using it.

[2017-05-07 21:29] gorozco1 commented on #816
@jcvenegas  yes, we can close this one.. it is fixed in cc-oci-runtime >=2.1.3

[2017-05-08 07:40] jodh-intel commented on #872
Oops - sorry @jcvenegas! :smile:

This is indeed tricky territory. I suggest we introduce some simple rules to both handle line lengths *and* allow us to paste logs, mails and keep the process low-impact:

The rules are:

1. The script will only check the line length **if the line starts with an alphabetic character**.

    This has some nice properties:

    - If you want the script to ignore any

[2017-05-08 08:12] jodh-intel commented on #875
That's an interesting point. I've always seen `autogen.sh` as something that attempts to make the source buildable, crucially without changing the system state. It might be rather unexpected if that script starts installing packages.

Maybe a compromise could be to add a `--make-it-so`-type option. If not specified, `autogen.sh` will be have like it does now and fail if dependencies are not instal

[2017-05-08 10:35] miguelinux opened #890 "Update clear_vm_kernel_version on versions.txt file"
A new release from kernel is out and Clear Linux will update the CC-kernel soon.

Please update the version file when https://github.com/clearlinux-pkgs/linux-container is updated.

[2017-05-08 15:42] GabyCT commented on #795
@jcvenegas even using the overlay option in centos 7, the error continues

[2017-05-08 16:28] jcvenegas commented on #795
@GabyCT  Still same message : "Error response from daemon: Driver devicemapper failed to remove root filesystem ID: Device is Busy" ?

[2017-05-08 16:29] GabyCT commented on #795
@jcvenegas yes, the same error

[2017-05-08 16:33] jcvenegas commented on #795
@GabyCT  thanks for confirm , would not expect to see device-mapper issues with overlay. I'll take a look

[2017-05-08 22:07] GabyCT commented on #795
@jcvenegas should we increase to P1 this bug? currently this is affecting pnp network measurements

[2017-05-08 22:12] GabyCT commented on #795
by the way, I tested using runc and the problem is not there even using device mapper or overlay

[2017-05-09 07:39] jodh-intel opened #892 "Add Dockerfile for the gabyct/nuttcp image"
Used by test `tests/metrics/network/network-metrics-nuttcp.sh`.

Related to #848.

[2017-05-09 13:52] jcvenegas commented on #795
@GabyCT  if this is  blocker for the CI yes, or skip the new test that are triggering the issue

[2017-05-09 14:21] GabyCT commented on #795
@jcvenegas the issue is that is not a particular test, the problem is present when we are running all the tests

[2017-05-09 15:01] chavafg opened #893 "cannot compile under Centos 7"
when running `make` under Centos 7, I got this error:

[code]
Centos 7 kernel version:
[code]

Related to https://github.com/01org/cc-oci-runtime/commit/001e2648f540ed7672ae67c7f3c369120a0c25fc

[2017-05-09 16:04] jcvenegas commented on #795
@GabyCT  what is the last known version that worked for CentOS ?

[2017-05-09 16:14] jcvenegas commented on #795
I tried to reproduce the issue something:
- I could not reproduce it using cc-oci-runtime.sh ( probably a race condition ? )
- I only can reproduce the issue the first time I run docker ( /var/lib/docker clean )

[2017-05-09 17:37] dlespiau commented on #893
Could you attach the file /usr/include/linux/if_link.h that Centos 7 has?

[2017-05-09 17:54] chavafg commented on #893
Sure, here it is:
[if_link.h.txt](https://github.com/01org/cc-oci-runtime/files/987537/if_link.h.txt)

[2017-05-09 19:35] GabyCT commented on #892
@jodh-intel PR #895

[2017-05-09 19:36] GabyCT commented on #848
@jodh-intel PR #895

[2017-05-10 00:22] mcastelino opened #896 "docker --tmpfs does not work"
`docker run -it --tmpfs /run:rw,noexec,nosuid,size=65536k busybox sh`

[code]
125 if the error is with Docker daemon itself

fails with clear containers.

`level=error msg="containerd: start container" error="containerd: container not started" id=8a2ddc7d5994635c8a256f659a20de1d8793505454213a3f7703c0967b56ff14`

the config.json shows

[code]

[2017-05-10 16:32] #879 closed

[2017-05-11 13:54] sameo commented on #896
This issue was moved to clearcontainers/runtime#120

[2017-05-11 13:54] #896 closed

[2017-05-11 13:55] sameo commented on #854
This issue was moved to clearcontainers/runtime#121

[2017-05-11 13:55] sameo commented on #836
This issue was moved to clearcontainers/runtime#122

[2017-05-11 13:55] #836 closed

[2017-05-11 13:56] sameo commented on #836
This issue was moved to clearcontainers/shim#17

[2017-05-11 13:57] sameo commented on #817
This issue was moved to containers/virtcontainers#246

[2017-05-11 13:57] #817 closed

[2017-05-11 13:58] sameo commented on #813
This issue was moved to clearcontainers/shim#18

[2017-05-11 13:58] #813 closed

[2017-05-11 13:58] sameo commented on #511
Tracked here:  https://github.com/containers/virtcontainers/issues/225

[2017-05-11 13:58] #511 closed

[2017-05-11 14:00] sameo commented on #388
Now tracked as part of the virtcontainers project:
https://github.com/containers/virtcontainers/issues/241

[2017-05-11 14:00] #388 closed

[2017-05-11 14:00] jcvenegas commented on #803
This issue was moved to clearcontainers/runtime#123

[2017-05-11 14:00] #803 closed

[2017-05-11 14:01] sameo commented on #521
This issue was moved to clearcontainers/runtime#124

[2017-05-11 14:01] #521 closed

[2017-05-11 14:01] jcvenegas commented on #680
This issue was moved to clearcontainers/runtime#125

[2017-05-11 14:01] #680 closed

[2017-05-11 14:01] sameo commented on #162
This issue was moved to containers/virtcontainers#247

[2017-05-11 14:01] #162 closed

[2017-05-11 14:01] sameo commented on #163
This issue was moved to containers/virtcontainers#248

[2017-05-11 14:01] #163 closed

[2017-05-11 14:02] jcvenegas commented on #679
This issue was moved to clearcontainers/runtime#126

[2017-05-11 14:02] #679 closed

[2017-05-11 14:02] jcvenegas commented on #246
This issue was moved to clearcontainers/runtime#127

[2017-05-11 14:02] #246 closed

[2017-05-11 14:02] sameo commented on #364
This issue was moved to clearcontainers/runtime#128

[2017-05-11 14:02] #364 closed

[2017-05-11 16:25] GabyCT commented on #866
Closing this as PR is already merged

[2017-05-11 16:25] #866 closed

[2017-05-12 18:14] jcvenegas opened #899 "Release 2.1.8"
- [x] Test the HEAD commit of the master branch using the tests included in the source code within the ```tests/``` directory.
- [x] Run Coverity Scan on HEAD commit and ensure no medium or high severity issues are reported.
- [ ] Update ```versions.txt``` with package versions used by the release and the cc-oci-runtime.
- [x] Update ```configure.ac``` with the ```cc-oci-runtime``` version tagged.

[2017-05-12 19:21] #890 closed

[2017-05-12 19:25] #899 closed

[2017-05-12 20:35] jcvenegas commented on #899
@gorozco1  New release out lets test #672

[2017-05-12 22:23] mcastelino opened #901 "/dev/shm: The docker specified value and defaults are not propagated"
Clear Containers sets up /dev/shm within the VM. It cannot use the /dev/shm created by docker within the container mount namespace as /dev/shm should be based directly off of ram.

However the /dev/shm setup by clear container does not honor the parameters passed in by docker.
Clear containers sets up a fixed size /dev/shm, where as docker sets it up to be 64MB by default
[code]

Unfortunately the

[2017-05-13 08:08] dlespiau commented on #901
Could this be a 3.0 task or do we have a reason to do it for 2.1?

[2017-05-15 10:51] jodh-intel commented on #872
Closing as this is now tracked on https://github.com/clearcontainers/tests/issues/18.

[2017-05-15 14:00] chavafg opened #904 "update installation documentation with docker 17."
We need to update the documentation to reflect that we are compatible with docker 17.

[2017-05-15 14:15] #869 closed

[2017-05-15 14:20] GabyCT commented on #892
Closing this issue as PR is already merged

[2017-05-15 14:20] #892 closed

[2017-05-15 14:20] GabyCT commented on #848
Closing this issue as PR is already merged

[2017-05-15 14:20] #848 closed

[2017-05-15 14:52] GabyCT commented on #893
@amshinde, we are still having issues in the compilation with centos 7.0
after doing the ./autogen.sh ... and doing the make -j, we have the following error

src/netlink.c: In function 'netlink_link_add_bridge':
src/netlink.c:269:25: error: 'IFLA_BR_MCAST_SNOOPING' undeclared (first use in this function)
    mnl_attr_put_u8(nlh, IFLA_BR_MCAST_SNOOPING, 0);
                         ^~~~~~~~~~~~~~~~

[2017-05-15 18:01] jcvenegas commented on #854
Reopen to have a documented limitation of this issue

[2017-05-15 21:25] GabyCT opened #908 "Factor-out of the common code parts in networking tests"
Have a test-common.bash for networking tests in order to have share functions among the tests (as suggested in PR #891)

[2017-05-16 14:08] jcvenegas commented on #893
Fixed via #907

[2017-05-16 14:08] #893 closed

[2017-05-16 18:01] jcvenegas commented on #887
So our configure is failing because we are misssing this m4 files.

1.- Lets disable valgrind and code coverga if the m4 files are not installed, and let the user at least build cc-oci-runtime without this unusual depedency.

2.- For people that still want to use valgrind with 'make check' lets add a way to download the m4 files (like #876 )

@amshinde  @jodh-intel  @dlespiau  any comments ?

[2017-05-16 19:30] dlespiau commented on #887
The whole thing has caused quite some pain. I wish we could just revert the change instead of having to work around the limitations of a tool.

[2017-05-16 19:44] GabyCT commented on #908
PR #910 open to address this issue

[2017-05-16 20:58] egernst commented on #769
I think it is a bug.  I'm going to open a second issue as well which would solve this.  Basically that we should be able to provide a build option that will build all of the dependent packages.  cc-oci-runtime is just a single binary.  For Clear Containers, we need to also provide mechanism to build from source all of the other components (namely things like container.img and vmlinux/z).   We need

[2017-05-16 21:03] egernst opened #912 "Need to be able to build and install Clear Containers from source"
If a user  pulls down cc-oci-runtime and does a make install, Clear Containers will not work.  It is assumed that binary artifacts area already installed.

We need to create an option to build all of the relevant parts for Clear Containers from source.  This build will initially take a long time, but without this usability for Clear Containers is very poor.  We need to allow developers to be able

[2017-05-17 00:58] mcastelino commented on #901
@dlespiau this can be a 3.0 task as it does not currently impact most users.

[2017-05-17 01:04] mcastelino opened #913 "Capabilities support: Clear Container should honor valid capability requests through --cap-add and --cap-"
Docker supports limited capability elevation for container workloads without resorting to privileged mode.

For example:

`docker run -it --rm  --cap-add=NET_ADMIN ubuntu ip link add dummy0 type dummy`

There is a need to support limited capability elevation for the workload, even if it is limited to elevated capabilities inside the virtual machine hosting the workload.

[2017-05-17 01:04] mcastelino commented on #913
cc @egernst

[2017-05-17 07:18] dlespiau commented on #901
This issue was moved to clearcontainers/runtime#138

[2017-05-17 07:18] #901 closed

[2017-05-17 14:49] jcvenegas commented on #795
@grahamwhaley @GabyCT I can reproduce the steps from @grahamwhaley  description only with docker 1.12 using docker 17.05 and cc-oci-runtiem 2.1.8 I cannot reproduce the issue anymore.

[2017-05-17 15:35] chavafg opened #915 "network_test fails randomly"
When running unit tests with:
[code]
`network_test` fails randomly. Below the log of the test suite.

[code]

[2017-05-18 16:10] jcvenegas opened #917 "Dont fail build if m4 files are not installed"
Modify MACRO_CHECK, to not fail the build  but let us know if the AX_VALGRIND_CHECK and others are defined.

If  the m4 files that defined need macros are installed (`locally` or by `autoarchive-conf`)
then
Use valgrind and code coverage,
else
let autoconf build cc-oci-runtime.

[2017-05-18 19:26] #888 closed

[2017-05-18 19:44] jcvenegas opened #921 "Run dockerfiles in every PR"
The dockerfiles  from [1] let allow users build cc-oci-runtime  in a container if the build process changes we should be able to know that this dockeriles are working.

Related with #920

[1] https://github.com/clearcontainers/dockerfiles/blob/master/2.1/build

[2017-05-18 22:08] gorozco1 commented on #887
Fixed with #911

[2017-05-18 22:08] #887 closed

[2017-05-19 18:32] jcvenegas opened #922 "Release 2.1.9"
- [X] Test the HEAD commit of the master branch using the tests included in the source code within the ```tests/``` directory.
- [X] Run Coverity Scan on HEAD commit and ensure no medium or high severity issues are reported.
- [x] Update ```versions.txt``` with package versions used by the release and the cc-oci-runtime.
- [x] Update ```configure.ac``` with the ```cc-oci-runtime``` version tagged.

[2017-05-19 21:56] #922 closed

[2017-05-22 15:37] GabyCT opened #925 "Measure RSS memory @ transfer rate"
Using smem measure resident set size (rss) memory while running a transfer rate of 1 Gb using nuttcp

[2017-05-22 16:15] egernst opened #926 "installation guide for centOS appears stale"
Installation guide for centos still references checking out runtime 2.1.0.  Can / should this be updated to latest?

[2017-05-22 16:16] egernst commented on #926
@jcvenegas  @chavafg @GabyCT

[2017-05-22 16:42] GabyCT commented on #926
@egernst, I will work on this

[2017-05-22 18:57] GabyCT commented on #926
@gorozco1 we need the obs packages for centos as this ones
http://download.opensuse.org/repositories/home:/clearlinux:/preview:/clear-containers-staging/CentOS_7/x86_64/ are not for 2.1.9.

@egernst when @gorozco1 updates the repository with the obs package I can update the documentation

[2017-05-22 19:25] GabyCT commented on #926
@gorozco1 I just saw the latest obs packages thanks

[2017-05-23 07:02] jodh-intel commented on #925
This issue is very brief - I think all the tests issues would benefit from a lot more detail.

[2017-05-23 14:26] dlespiau opened #930 "Bump the clear image release in versions.txt so we can deduce the correct kernel URL"
https://github.com/01org/cc-oci-runtime/commit/9acfdab85449ff25bfd61313198bb722f789213f has bumped the kernel version, but this package is only available with a URL containing a clear release:

https://download.clearlinux.org/releases/14700/clear/x86_64/os/Packages/linux-container-4.9.4-57.x86_64.rpm

The goal is to be able to retrieve the dependencies with only versions.txt, so we need to bump th

[2017-05-23 15:17] GabyCT opened #931 "Add README for networking tests"
The main intention of this readme is to describe the current tests that we have (which tools are using and why the are important) as well as how to run them.

[2017-05-23 16:38] #925 closed

[2017-05-25 16:25] chavafg commented on #904
this was solved with #906

[2017-05-25 16:25] #904 closed

[2017-05-26 16:08] #926 closed

[2017-05-30 17:59] grahamwhaley commented on #795
@jcvenegas OK. I normally see this when running the runtime density metrics tests as they 'rm' a list of containers all in one go, and have to be run as `root`. Sooo, I'm happy to leave this here open for a bit and see if this either does or does not re-occur when we start running those tests on 17.05 and above.
Failing that, the real path to close this would be a bisect on docker versions or a tr

[2017-05-31 22:18] #816 closed

[2017-06-01 14:12] jcvenegas opened #936 "Driver overlay failed to remove root filesystem (docker 17.05)"
Somethimes running functional test I get a message error from `docker rm -f, this happen with docker 17.05
[code]
Probably related with #795

[2017-06-01 14:12] jcvenegas commented on #936
@sboeuf  are you seeing this behavior in 3.0 ?

[2017-06-01 14:18] jcvenegas opened #937 "Change release process check list"
Change release process, instead create a release candidate we can test the HEAD what will  be the last commit using new autoamted obs package generation we can generate and test commits   based on HEAD.

- [ ] Test the HEAD commit of the master branch using the tests included in the source code within the ```tests/``` directory.
- [ ] Run Coverity Scan on HEAD commit and ensure no medium or high s

[2017-06-01 14:19] jcvenegas commented on #937
@devimc @gorozco1  @jodh-intel can you review this chagnes to the release process ?

[2017-06-01 14:35] devimc commented on #937
lgtm

[2017-06-01 14:51] jodh-intel commented on #937
For reference, `diff`-ing the proposed process above with the current one [*] gives:

[code]
@gorozco1, @sameo, @dlespiau, @grahamwhaley - do you have any thoughts?

lgtm.

---
[*] - https://github.com/01org/cc-oci-runtime/wiki/Release-Checklist

[2017-06-01 14:52] #931 closed

[2017-06-01 14:52] sboeuf commented on #936
Nope I haven't seen this error in 3.0, but I am not testing with 17.05 currently.

[2017-06-01 16:12] gorozco1 commented on #937
@jcvenegas  please

**Move:**

- [ ] Update ```configure.ac``` with the ```cc-oci-runtime``` version tagged.

**From**
- [ ] Update ```configure.ac``` with the ```cc-oci-runtime``` version tagged.
- [ ] Generate OBS packages based on HEAD.

**To**
- [ ] Tag release using the same HEAD packaged.
- [ ] Update ```configure.ac``` with the ```cc-oci-runtime``` version tagged.

[2017-06-01 16:49] jcvenegas opened #938 "swarm test hangs in docker 17"
The test related with swarm (nds, mut, swarm) hangs in docker 17 two things has to be done:
- [ ] the test  should fail after a timeout to not block the execution.
- [ ] skip test if docker 1.12 is not being used

[2017-06-01 16:50] jcvenegas commented on #938
@GabyCT  @chavafg is it ok to skip those test ? in docker 17 or it is just my environment ?

[2017-06-01 16:53] jcvenegas commented on #937
@gorozco1  done

[2017-06-01 17:09] chavafg commented on #938
That is expected behavior, the issue is documented on #854

[2017-06-02 18:19] jcvenegas commented on #937
Changed in wiki
- [ ] Test the HEAD commit of the master branch using the tests included in the source code within the ```tests/``` directory.
- [ ] Run Coverity Scan on HEAD commit and ensure no medium or high severity issues are reported.
- [ ] Tag and release as a release candidate the HEAD commit of the master.
- [ ] Update ```versions.txt``` with package versions used by the release and the c

[2017-06-02 18:20] #937 closed

[2017-06-02 18:21] jcvenegas opened #940 "Release 2.1.10"
Change release process, instead create a release candidate we can test the HEAD what will  be the last commit using new autoamted obs package generation we can generate and test commits   based on HEAD.

- [x] Test the HEAD commit of the master branch using the tests included in the source code within the ```tests/``` directory.
- [x] Run Coverity Scan on HEAD commit and ensure no medium or high s

[2017-06-02 21:16] #930 closed

[2017-06-03 00:40] jcvenegas commented on #940
Reopen until we have OBS packages

[2017-06-05 09:15] grahamwhaley opened #944 "Docs: network metrics: Run instructions have a typo, and some clarification"
On:
https://github.com/01org/cc-oci-runtime/blob/master/tests/metrics/network/README.md
The command:
`$ sudo -E make metrics tests`
should be:
`$ sudo -E make metrics-tests`

We should also note that that command not only builds the necessary test files, but will run them as well (which is not mentioned in the current documentation).

Ideally the `preprocess` and `run` actions would be separate st

[2017-06-05 09:37] grahamwhaley opened #945 "tests: split pre-process and run into two Makefile targets"
Often during development it is useful to be able to pre-process the 'GENERATED' files without taking further actions (such as running the networking tests). There is no current single nice Makefile 'target' to do the pre-processing. It would be very nice to have a rule inserted between the run rule (such as `metrics-tests`, and the $(GENERATED_FILES) dependency, so one can do, for instance a 'make

[2017-06-05 18:10] egernst opened #949 "test-pmd DPDK workload fails"
When running test PMD in standard clear container, it fails.  If I run using a direct mounted filesystem, it succeeds without issue.

For details on reproducing this failure, see https://gist.github.com/egernst/e12a0446e2482c270acb47dbca065e99

[2017-06-05 19:59] gorozco1 commented on #702
This is fixed in latest buidlds can you verify @chavafg

[2017-06-05 20:11] chavafg commented on #702
Verified, this is fixed :), closing this issue.

[2017-06-05 20:11] #702 closed

[2017-06-06 03:29] syed opened #950 "Unable to start a container in CentOS 7 with Docker"
Hi,

I've basically followed the instructions mentioned at https://github.com/01org/cc-oci-runtime/blob/master/documentation/Installing-Clear-Containers-on-Centos-7.md. However, when try to start a container using

[code]

It just hangs. I ran the `linux-check-config.sh` script to see if there are any problems, but I don't find any

[code]

I can see a `qemu-lite` process in the `ps -e` However, I

[2017-06-06 08:32] #944 closed

[2017-06-06 10:00] jodh-intel commented on #950
Hi @syed - thanks for reporting this issue. A few questions:

- Can I ask when you ran the `./installation/rhel-setup.sh` script?

- Can you start a container using a busybox docker image?
[code]
- Can you create a docker container using the default docker runtime (`runc`) like this:
[code]

A few tests to try:

- Config the proxy to auto-start on boot:
[code]
- Configure the runtime for debug by

[2017-06-06 12:15] syed commented on #950
Hi @jodh-intel,

1. I ran the `./installation/rhel-setup.sh` on a fresh install of centos7

2. I am able to create a container using the `runc` runtime. However, I had to restart the docker deamon before doing so, as it was unresponsive after I had created a container using the `cor` runtime.

[code]

I enabled logging as per your directions. The `/tmp/<container-id>-hypervisor.std{out,err}` are e

[2017-06-06 13:00] jodh-intel commented on #950
Hi @syed - thanks for the debug info. The runtime log indicates a problem talking to the proxy. From `cc-oci-runtime.log.txt`:

[code]

Please could you run the following so we can get more detail from the proxy:

[code]

Then in another terminal:

- `sudo docker run -ti busybox sh`

Finally, control-c the terminal running `cc-proxy` and attach the `typescript` file that gets generated.

[2017-06-06 13:36] syed commented on #950
Interesting. I am pretty sure the proxy is getting the message. It just doesn't respond with a success. Here are the logs

[code]
The corresponding logs in the `cc-oci-runtime.log`

[code]

From what I can understand, the `cc-oci-runtime` sends the `hello` message to the proxy. The proxy receives it but doesn't return a response. The `cc-oci-runtime` times out, sends a `destroy` message to the pro

[2017-06-06 13:43] jodh-intel commented on #847
We've now been using this process since 2.1.6 (see #863, #881, #899, #922, #940) so closing this issue.

[2017-06-06 13:43] #847 closed

[2017-06-06 13:52] dlespiau commented on #950
After the runtime does a hello, the proxy is supposed to receive a message from hyperstart, the agent running inside the VM. That message is sent as soon as the VM has booted and hyperstart is started. Unfortunately it seems to me that qemu isn't properly booting.

Could you confirm `/usr/local/bin/qemu-system-x86_64` is qemu lite? how did you install qemu-lite?

[2017-06-06 13:56] jodh-intel commented on #950
You can confirm your qemu has the correct support like this:

[code]

It's a long-shot, but did you capture the output of `./installation/rhel-setup.sh` (maybe by running it under `script(1)`?)

Also, are you running on bare metal, or in a virtualised environment? If virtualised, how much memory is available?

Another question: what do you get as output from these commands:

[code]

[2017-06-06 14:03] jodh-intel commented on #950
Please could you paste the output of:

[code]

... and attach files:
- `/usr/local/share/defaults/cc-oci-runtime/hypervisor.args`
- `/usr/local/share/defaults/cc-oci-runtime/vm.json`

Also, do you see any errors that might be related in:

[code]

[2017-06-06 14:57] syed commented on #950
@dlespiau  @jodh-intel Unfortunately I don't have the output of the installer script. I am running on a baremetal host with 2 sockets of Xeon L5520 giving me 16 cores and 24GB of RAM.

I checked for `pc-lite` support in qemu and it seems to be present.

[code]

Here is the output for the vhost module info:

[code]

The `/usr/share/clear-containers/` directory:

[code]

I've attached the `hyperviso

[2017-06-06 15:09] jodh-intel commented on #950
Hi @syed - that all looks fine and your config files seem to be unmodified.

Could you try running this (assuming you only have a single qemu process running):

[code]

[2017-06-06 15:25] syed commented on #950
@jodh-intel I do have a qemu process running.

[code]
Strangely, the stack looks empty

[code]

[2017-06-06 15:27] devimc commented on #950
@syed are you using a custom linux kernel in the host?

[2017-06-06 15:28] syed commented on #950
@devimc AFAIK, no. I'm using the one which is shipped by default

[code]

[2017-06-06 15:49] jodh-intel commented on #950
@syed - Could you try disabling `quiet` from the kernel command-line like this:

[code]
Then, capture the debug proxy output again:

[code]
And try creating a container once more. You *should* see more output from the proxy this time.

[2017-06-06 17:09] syed commented on #950
@jodh-intel ... I don't see any output on the proxy

[code]

Here is the qemu process for the container
[code]

[2017-06-06 17:59] bryteise opened #953 "Container missing network device"
Using Clear Linux 15710 (with Docker 17.05.0-ce) docker run -it busybox I do not get a network interface in the container:
`-> % docker run -it busybox
/ # ip a
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue qlen 1
    link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
    inet 127.0.0.1/8 scope host lo
       valid_lft forever preferred_lft forever
    inet6 ::1/128 scope host
       va

[2017-06-06 18:14] bryteise commented on #953
Output of docker inspect:
[
    {
        "Id": "0fcefe65f908ec4947f450c1035b7e6b3780e73fdf7a2b7bc935fc80d5929a5c",
        "Created": "2017-06-06T18:12:34.684166764Z",
        "Path": "sh",
        "Args": [],
        "State": {
            "Status": "running",
            "Running": true,
            "Paused": false,
            "Restarting": false,
            "OOMKilled": false,
            "D

[2017-06-06 18:14] amshinde commented on #953
Just tried this on 15730, didnt see the issue. @bryteise Can you paste the output of docker inspect?

[2017-06-06 18:16] rarindam commented on #152
Can you test with the following changes in /usr/share/defaults/cc-oci-runtime/hypervisor.args:

In the qemu command line, following option is being used:
fsdev local,id=test_dev,path=<shared folder path on host>,security_model=none

Instead please use the following:
-fsdev handle,id=test_dev,path=<shared folder path on host>

Manohar saw the issue being fixed with the above change.

[2017-06-06 18:27] amshinde commented on #953
Just checked this with @bryteise. The network namespace listed in the docker inspect output was not created. Updating to 15730 fixed the issue.

[2017-06-06 18:35] eadamsintel commented on #950
@syed  I ran into the same problem.  I noticed that my /etc/systemd/system/docker.service.d/clr-containers.conf file had two "/" in the path to the cc-oci-runtime binary.  When I removed the extra / the cor runtime functioned properly for me.   It should be "cor=/usr/local/bin/cc-oci-runtime"   Can you check your conf file to see if the path to the cor binary is correct?

[2017-06-06 18:38] grahamwhaley opened #954 "metrics: Formalise the reporting method"
Some of our metrics report their results through some CSV creating calls, and others report on the command line. Add a more formal method for results reporting, that is flexible/documented/easy enough to over-ride for those who may wish to store and/or process the results in a different manner.
We will then open a new issue to move all existing metrics over to the new infra.

[2017-06-06 18:55] syed commented on #950
@eadamsintel I removed the extra `/` from ` /etc/systemd/system/docker.service.d/clr-containers.conf ` It now looks like this:

[code]

I restarted Docker, I even rebooted the host after this but the Docker daemon just hangs if I start a container.

[2017-06-06 19:44] syed commented on #950
@jodh-intel is there something that I can use to check if the qemu is working correctly? Can I start a simple VM from command line using the clear container kernel?

[2017-06-06 19:53] syed commented on #950
At this point, I have

[code]

When I run this, I get no output at all. I also see that the qemu process is taking 100% CPU (all other qemu processes started from `docker run` are also taking 100% CPU)

[2017-06-06 20:02] syed commented on #950
The `qemu-system-x86_64` was built from source

[code]

[2017-06-06 21:18] syed commented on #950
I repeated the installation steps on Ubuntu 16.04 and I still ran into this issue.

[2017-06-06 22:27] eadamsintel commented on #950
I ran your QEMU command and it ran at 100% CPU for me as well.  The MD5 of my qemu was bb7fb35aaa35990f686053629a24fcb9 for reference and it came from running the rhel script.

I set the / back in my script and restarted docker and had the containerd issue come backup. When I removed it again and restarted Docker I continued to have the containerd issue.  I killed the cc-oci-runtime process, resta

[2017-06-07 00:22] syed commented on #950
@eadamsintel @jodh-intel it looks like `qemu-system-x86` is stuck in an infinite loop consuming 100% CPU. Doing an `strace` on the qemu process shows that it is doing a lot of `read` and `futex` calls

[code]
I am attaching the repeating pattern that I found with strace. From what I can tell, it looks like qemu opens the `/usr/share/clear-containers/vmlinux-4.9.30-59.1.container` file, does a bunc

[2017-06-07 09:35] jodh-intel commented on #950
Hi @syed - Can you clarify your comments on Ubuntu - are you saying you've followed the doc below and installed Ubuntu + Clear Containers **on the same Xeon system you used for CentOS** and you see (exactly?) the same behaviour with qemu spinning at 100% CPU?

- https://github.com/01org/cc-oci-runtime/blob/master/documentation/Installing-Clear-Containers-on-Ubuntu.md

If so, this sounds like a har

[2017-06-07 13:08] jodh-intel commented on #953
I'm not clear how this "magically fixed" itself between the two releases - could someone provide some details?

[2017-06-07 13:10] syed commented on #950
@jodh-intel I the setup on a VM running inside a KVM host and it is working there. I don't have another physical box at the moment but I will try to free one up and test it on that. If it works, it looks like there is some incompatibility with the processor and Qemu.

[2017-06-07 13:32] jodh-intel commented on #950
Hi @syed - unfortunately, its looking like your Xeon isn't new enough. To prove that, can you run the following:

[code]

[2017-06-07 14:24] syed commented on #950
@jodh-intel You are absolutely right. Looks like the CPU doesn't have the aes flag
[code]

[2017-06-07 14:39] jodh-intel commented on #950
Hi @syed - I'm sorry to hear that, but atleast we eventually got to the bottom of the problem :)

We'll be updating the check-config script [1] for the missing `aes` check in the next day or so to stop other users hitting this issue. Further, we are looking at extra checks to avoid the need for [1].

Thanks for your patience and hope you are able to source another system to allow you to have the p

[2017-06-07 17:53] #872 closed

[2017-06-07 20:47] jcvenegas commented on #938
@chavafg docker swarm is working for me. I sent a PR to fix the tests. Could you confirm all works like 1.12.1 ?
If it works we will need to update our wiki:
https://github.com/01org/cc-oci-runtime/blob/master/documentation/Installing-Clear-Containers-on-Ubuntu.md#option-1-docker-1121-compatible-with-swarm

[2017-06-08 00:24] syed commented on #950
Thanks @jodh-intel and everyone for promptly answering my queries. It's always brings me happiness to see the community willing to help someone who's starting out. Nice to see a healthy project :+1:

I'll go ahead and close this issue for now. Thanks again.

[2017-06-08 01:48] jcvenegas opened #957 "Release 2.1.11"
- [ ] Test the HEAD commit of the master branch using the tests included in the source code within the ```tests/``` directory.
- [x] Run Coverity Scan on HEAD commit and ensure no medium or high severity issues are reported.
- [x] Update ```versions.txt``` with package versions used by the release and the cc-oci-runtime.
- [x] Generate OBS packages based on HEAD.
- [ ] Test OBS packages
	- [ ] Man

[2017-06-08 07:35] jodh-intel commented on #950
Hi @syed - would you mind checking a couple of things that might give us a more precise answer as to why your system can't run Clear Containers?:

[code]

Also, just to let you know that the script below has now been updated to perform the extra check (and hopefully save other users from having the bad experience you've had):

- https://download.clearlinux.org/current/clear-linux-check-config.sh

[2017-06-08 15:45] grahamwhaley commented on #945
@jodh-intel @jcvenegas can I ask for your thoughts on the best way to do this.
The simplest may be to just add:
[code]
at about https://github.com/01org/cc-oci-runtime/blob/master/Makefile.am#L98

I considered then changing the $(GENERATED_FILES) deps such as here:
https://github.com/01org/cc-oci-runtime/blob/master/Makefile.am#L420
to rely on that `generated_files` rule instead, but, I don't have

[2017-06-08 15:51] jodh-intel commented on #945
+1 for the one-liner, but maybe call it `generate-files` (or even maybe just `generate`?)

[2017-06-08 15:55] syed commented on #950
@jodh-intel Absolutely. Here is the output:

[code]
[code]

[2017-06-08 15:59] jodh-intel commented on #950
Hi @syed - Thanks very much - this is useful information. The actual limitation of your system is the `unrestricted_guest` value I believe (I'll ensure we update the check-config script to include this...).

[2017-06-08 16:05] GabyCT opened #959 "Mtu tests are not working with Centos and Docker 17"
This is the specifications
Docker version 17.05.0-ce, build 89658be
cc-oci-runtime version: 2.1.10
spec version: 1.0.0-rc1
commit: b82bbc28c8ced51de39783f9e4c25153f01b21ff

$ bats mtu.bats
 ✗ Checking MTU values in different interfaces
   (from function `fail' in file ../../lib//test-common.bash, line 46,
    from function `check_swarm_replicas' in file ../../lib//test-common.bash, line 182,
    f

[2017-06-08 16:43] sameo opened #960 "2.1.9 does not work with the latest CRI-O"
CRI-O renamed the pod annotations and thus Clear Containers do not run properly with it anymore.

[2017-06-08 17:07] gorozco1 commented on #912
Building the kernel and container image from source is out of scope to fix this issue, what we are going to do is to provide the user in the doc the dependencies needed to run clear-containers.

We'll provide the scripts to do so, and will configure will fail if the "dependencies" are not meet.

[2017-06-08 17:27] egernst commented on #912
Ultimately, people will need the ability to easily modify the kernel as well.  I can call that a P3, perhaps, though.

Having said that, I think it's still a high priority to added a make option called something like "make install-complete" which would do the pull and installation of .img/kernel.

[2017-06-08 17:32] gorozco1 commented on #940
this should be closed..

[2017-06-08 17:32] #940 closed

[2017-06-08 17:34] gorozco1 opened #961 "Ability to build kernel from source"
The power user needs to be able to build his own kernel from source we should provide a doc how to do that and scripts to do so.

Related to #769 and #912

[2017-06-08 17:35] gorozco1 opened #962 "Ability to build mini-os images from source"
The power user needs to be able to build his own mini-os image from source we should provide a doc how to do that and scripts to do so.

Related to #769,  #912  #961

[2017-06-08 17:36] gorozco1 commented on #912
@egernst  agreed 👍

just created two other items to build from source the components.

[2017-06-08 18:41] jcvenegas opened #967 "checkcommits failing"
checkcommits is failing with some PRs lets ignore if fails but keep it running to know what uses cases we are misssing.